.flex-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.form-control::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.5); }

.form-control {
  padding: .8rem .75rem; }

select.form-control.select-height {
  height: 48px !important; }

.text-center {
  text-align: center; }

.title {
  font-size: 72px;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0; }
  .title--white {
    color: #ffffff; }
  .title--black {
    color: #333; }

.sub-title {
  font-size: 56px;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0; }
  @media (max-width: 767px) {
    .sub-title {
      font-size: 40px; } }
  .sub-title--white {
    color: #ffffff; }
  .sub-title--black {
    color: #333; }

.btn-main {
  background: -webkit-linear-gradient(285.77deg, #2DCB71 0%, #205072 100%);
  background: -o-linear-gradient(285.77deg, #2DCB71 0%, #205072 100%);
  background: linear-gradient(164.23deg, #2DCB71 0%, #205072 100%);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  max-width: 170px;
  padding: 10.5px 10px;
  outline: none; }
  .btn-main:hover, .btn-main:focus {
    background: -webkit-linear-gradient(315deg, #CA5EFF 0%, #004FDE 100%);
    background: -o-linear-gradient(315deg, #CA5EFF 0%, #004FDE 100%);
    background: linear-gradient(135deg, #CA5EFF 0%, #004FDE 100%);
    color: #ffffff;
    text-decoration: none; }
  @media (max-width: 576px) {
    .btn-main {
      max-width: 120px;
      font-size: 14px; } }
  .btn-main--white {
    background: #ffffff;
    border: 1px solid #c3c6ef;
    color: #434CCC;
    padding-top: 9.5px;
    padding-bottom: 9.5px; }
    .btn-main--white:hover, .btn-main--white:focus {
      color: #434CCC;
      background: #ffffff; }
  .btn-main--yellow {
    background: #F1B505;
    color: #ffffff; }
    .btn-main--yellow:hover, .btn-main--yellow:focus {
      color: #ffffff;
      background: #F1B505; }

.btn-action {
  background: #ffffff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
  border-radius: 24px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  max-width: 146px;
  -ms-flex-preferred-size: 146px;
      flex-basis: 146px;
  padding: 10.5px 10px;
  outline: none; }
  @media (max-width: 1199px) {
    .btn-action {
      max-width: 120px;
      -ms-flex-preferred-size: 120px;
          flex-basis: 120px; } }
  @media (max-width: 991px) {
    .btn-action {
      max-width: 146px;
      -ms-flex-preferred-size: 146px;
          flex-basis: 146px; } }
  @media (max-width: 576px) {
    .btn-action {
      max-width: 120px;
      -ms-flex-preferred-size: 120px;
          flex-basis: 120px; } }
  .btn-action--light {
    color: #2DCC70; }
    .btn-action--light:hover, .btn-action--light:focus {
      color: #2DCC70; }
  .btn-action--dark {
    color: #333; }
    .btn-action--dark:hover, .btn-action--dark:focus {
      color: #333; }
  .btn-action:hover, .btn-action:focus {
    text-decoration: none; }

.circle {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.3003);
  border-radius: 50%; }

.browse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.browse-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 79px;
  margin-bottom: 0; }
  @media (max-width: 991px) {
    .browse-all {
      margin-top: 35px; } }
  .browse-all__text {
    color: #333;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-right: 15px; }
  .browse-all__icon {
    border: 1px solid rgba(51, 51, 51, 0.297271);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%; }
  .browse-all:hover .browse-all__text {
    text-decoration: underline; }

.card {
  border: none;
  border-radius: 8px;
  font-family: 'Josefin Sans Bold', sans-serif;
  padding: 32px; }
  @media (max-width: 1199px) {
    .card {
      padding: 15px; } }
  @media (max-width: 991px) {
    .card {
      padding: 32px; } }
  @media (max-width: 576px) {
    .card {
      padding: 15px 20px; } }
  .card--aqua {
    background: -webkit-gradient(linear, left top, left bottom, from(#00CDAC), to(#02AAB0));
    background: -webkit-linear-gradient(top, #00CDAC 0%, #02AAB0 100%);
    background: -o-linear-gradient(top, #00CDAC 0%, #02AAB0 100%);
    background: linear-gradient(180deg, #00CDAC 0%, #02AAB0 100%); }
    .card--aqua .lists {
      background: -webkit-gradient(linear, left top, left bottom, from(#00CDAC), to(#02AAB0));
      background: -webkit-linear-gradient(top, #00CDAC 0%, #02AAB0 100%);
      background: -o-linear-gradient(top, #00CDAC 0%, #02AAB0 100%);
      background: linear-gradient(180deg, #00CDAC 0%, #02AAB0 100%); }
    .card--aqua .card-descriptions-wrapper {
      background: -webkit-gradient(linear, left top, left bottom, from(#02AAB0), to(#02AAB0));
      background: -webkit-linear-gradient(top, #02AAB0 0%, #02AAB0 100%);
      background: -o-linear-gradient(top, #02AAB0 0%, #02AAB0 100%);
      background: linear-gradient(180deg, #02AAB0 0%, #02AAB0 100%); }
  .card--orange {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF9966), to(#FF5E62));
    background: -webkit-linear-gradient(top, #FF9966 0%, #FF5E62 100%);
    background: -o-linear-gradient(top, #FF9966 0%, #FF5E62 100%);
    background: linear-gradient(180deg, #FF9966 0%, #FF5E62 100%); }
    .card--orange .lists {
      background: -webkit-gradient(linear, left top, left bottom, from(#FF9966), to(#FF5E62));
      background: -webkit-linear-gradient(top, #FF9966 0%, #FF5E62 100%);
      background: -o-linear-gradient(top, #FF9966 0%, #FF5E62 100%);
      background: linear-gradient(180deg, #FF9966 0%, #FF5E62 100%); }
    .card--orange .card-descriptions-wrapper {
      background: -webkit-gradient(linear, left top, left bottom, from(#FF5E62), to(#FF5E62));
      background: -webkit-linear-gradient(top, #FF5E62 0%, #FF5E62 100%);
      background: -o-linear-gradient(top, #FF5E62 0%, #FF5E62 100%);
      background: linear-gradient(180deg, #FF5E62 0%, #FF5E62 100%); }
  .card--purple {
    background: -webkit-gradient(linear, left top, left bottom, from(#6F86D6), to(#48C6EF));
    background: -webkit-linear-gradient(top, #6F86D6 0%, #48C6EF 100%);
    background: -o-linear-gradient(top, #6F86D6 0%, #48C6EF 100%);
    background: linear-gradient(180deg, #6F86D6 0%, #48C6EF 100%); }
    .card--purple .lists {
      background: -webkit-gradient(linear, left top, left bottom, from(#6F86D6), to(#48C6EF));
      background: -webkit-linear-gradient(top, #6F86D6 0%, #48C6EF 100%);
      background: -o-linear-gradient(top, #6F86D6 0%, #48C6EF 100%);
      background: linear-gradient(180deg, #6F86D6 0%, #48C6EF 100%); }
    .card--purple .card-descriptions-wrapper {
      background: -webkit-gradient(linear, left top, left bottom, from(#48C6EF), to(#48C6EF));
      background: -webkit-linear-gradient(top, #48C6EF 0%, #48C6EF 100%);
      background: -o-linear-gradient(top, #48C6EF 0%, #48C6EF 100%);
      background: linear-gradient(180deg, #48C6EF 0%, #48C6EF 100%); }
  .card--tinture {
    background: -webkit-gradient(linear, left top, left bottom, from(#42275A), to(#734B6D));
    background: -webkit-linear-gradient(top, #42275A 0%, #734B6D 100%);
    background: -o-linear-gradient(top, #42275A 0%, #734B6D 100%);
    background: linear-gradient(180deg, #42275A 0%, #734B6D 100%); }
    .card--tinture .lists {
      background: -webkit-gradient(linear, left top, left bottom, from(#42275A), to(#734B6D));
      background: -webkit-linear-gradient(top, #42275A 0%, #734B6D 100%);
      background: -o-linear-gradient(top, #42275A 0%, #734B6D 100%);
      background: linear-gradient(180deg, #42275A 0%, #734B6D 100%); }
    .card--tinture .card-descriptions-wrapper {
      background: -webkit-gradient(linear, left top, left bottom, from(#734B6D), to(#734B6D));
      background: -webkit-linear-gradient(top, #734B6D 0%, #734B6D 100%);
      background: -o-linear-gradient(top, #734B6D 0%, #734B6D 100%);
      background: linear-gradient(180deg, #734B6D 0%, #734B6D 100%); }
  .card--preroll {
    background: -webkit-gradient(linear, left top, left bottom, from(#80D0C7), to(#13547A));
    background: -webkit-linear-gradient(top, #80D0C7 0%, #13547A 100%);
    background: -o-linear-gradient(top, #80D0C7 0%, #13547A 100%);
    background: linear-gradient(180deg, #80D0C7 0%, #13547A 100%); }
    .card--preroll .lists {
      background: -webkit-gradient(linear, left top, left bottom, from(#80D0C7), to(#13547A));
      background: -webkit-linear-gradient(top, #80D0C7 0%, #13547A 100%);
      background: -o-linear-gradient(top, #80D0C7 0%, #13547A 100%);
      background: linear-gradient(180deg, #80D0C7 0%, #13547A 100%); }
    .card--preroll .card-descriptions-wrapper {
      background: -webkit-gradient(linear, left top, left bottom, from(#13547A), to(#13547A));
      background: -webkit-linear-gradient(top, #13547A 0%, #13547A 100%);
      background: -o-linear-gradient(top, #13547A 0%, #13547A 100%);
      background: linear-gradient(180deg, #13547A 0%, #13547A 100%); }
  .card--concentrate {
    background: -webkit-gradient(linear, left top, left bottom, from(#4568DC), to(#B06AB3));
    background: -webkit-linear-gradient(top, #4568DC 0%, #B06AB3 100%);
    background: -o-linear-gradient(top, #4568DC 0%, #B06AB3 100%);
    background: linear-gradient(180deg, #4568DC 0%, #B06AB3 100%); }
    .card--concentrate .lists {
      background: -webkit-gradient(linear, left top, left bottom, from(#4568DC), to(#B06AB3));
      background: -webkit-linear-gradient(top, #4568DC 0%, #B06AB3 100%);
      background: -o-linear-gradient(top, #4568DC 0%, #B06AB3 100%);
      background: linear-gradient(180deg, #4568DC 0%, #B06AB3 100%); }
    .card--concentrate .card-descriptions-wrapper {
      background: -webkit-gradient(linear, left top, left bottom, from(#B06AB3), to(#B06AB3));
      background: -webkit-linear-gradient(top, #B06AB3 0%, #B06AB3 100%);
      background: -o-linear-gradient(top, #B06AB3 0%, #B06AB3 100%);
      background: linear-gradient(180deg, #B06AB3 0%, #B06AB3 100%); }
  .card--drink {
    background: -webkit-gradient(linear, left top, left bottom, from(#000428), to(#004E92));
    background: -webkit-linear-gradient(top, #000428 0%, #004E92 100%);
    background: -o-linear-gradient(top, #000428 0%, #004E92 100%);
    background: linear-gradient(180deg, #000428 0%, #004E92 100%); }
    .card--drink .lists {
      background: -webkit-gradient(linear, left top, left bottom, from(#000428), to(#004E92));
      background: -webkit-linear-gradient(top, #000428 0%, #004E92 100%);
      background: -o-linear-gradient(top, #000428 0%, #004E92 100%);
      background: linear-gradient(180deg, #000428 0%, #004E92 100%); }
    .card--drink .card-descriptions-wrapper {
      background: -webkit-gradient(linear, left top, left bottom, from(#004E92), to(#004E92));
      background: -webkit-linear-gradient(top, #004E92 0%, #004E92 100%);
      background: -o-linear-gradient(top, #004E92 0%, #004E92 100%);
      background: linear-gradient(180deg, #004E92 0%, #004E92 100%); }
  .card--patch {
    background: -webkit-gradient(linear, left top, left bottom, from(#CC2B5E), to(#753A88));
    background: -webkit-linear-gradient(top, #CC2B5E 0%, #753A88 100%);
    background: -o-linear-gradient(top, #CC2B5E 0%, #753A88 100%);
    background: linear-gradient(180deg, #CC2B5E 0%, #753A88 100%); }
    .card--patch .lists {
      background: -webkit-gradient(linear, left top, left bottom, from(#CC2B5E), to(#753A88));
      background: -webkit-linear-gradient(top, #CC2B5E 0%, #753A88 100%);
      background: -o-linear-gradient(top, #CC2B5E 0%, #753A88 100%);
      background: linear-gradient(180deg, #CC2B5E 0%, #753A88 100%); }
    .card--patch .card-descriptions-wrapper {
      background: -webkit-gradient(linear, left top, left bottom, from(#753A88), to(#753A88));
      background: -webkit-linear-gradient(top, #753A88 0%, #753A88 100%);
      background: -o-linear-gradient(top, #753A88 0%, #753A88 100%);
      background: linear-gradient(180deg, #753A88 0%, #753A88 100%); }
  .card--topical {
    background: -webkit-gradient(linear, left top, left bottom, from(#2B5876), to(#4E4376));
    background: -webkit-linear-gradient(top, #2B5876 0%, #4E4376 100%);
    background: -o-linear-gradient(top, #2B5876 0%, #4E4376 100%);
    background: linear-gradient(180deg, #2B5876 0%, #4E4376 100%); }
    .card--topical .lists {
      background: -webkit-gradient(linear, left top, left bottom, from(#2B5876), to(#4E4376));
      background: -webkit-linear-gradient(top, #2B5876 0%, #4E4376 100%);
      background: -o-linear-gradient(top, #2B5876 0%, #4E4376 100%);
      background: linear-gradient(180deg, #2B5876 0%, #4E4376 100%); }
    .card--topical .card-descriptions-wrapper {
      background: -webkit-gradient(linear, left top, left bottom, from(#4E4376), to(#4E4376));
      background: -webkit-linear-gradient(top, #4E4376 0%, #4E4376 100%);
      background: -o-linear-gradient(top, #4E4376 0%, #4E4376 100%);
      background: linear-gradient(180deg, #4E4376 0%, #4E4376 100%); }
  .card .card-title {
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1; }
  .card .card-by {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px; }
    .card .card-by a {
      color: #ffffff; }
      .card .card-by a:hover {
        text-decoration: underline; }
  .card .card-compose {
    color: #ffffff;
    margin-top: 30px; }
  .card .card-compose-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .card .card-compose-in__left, .card .card-compose-in__right {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 700;
      display: inline-block; }
    .card .card-compose-in__left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .card .card-compose-in__left > * {
        margin-right: 10px; }
    .card .card-compose-in__right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 76px;
      position: relative;
      min-height: 24px; }
      .card .card-compose-in__right img {
        position: absolute;
        bottom: 6px; }
  .card .card-select-wrapper {
    padding: 0 30px 10px;
    position: relative;
    margin-top: 40px; }
    @media (max-width: 1199px) {
      .card .card-select-wrapper {
        padding-left: 0;
        padding-right: 0; } }
    @media (max-width: 991px) {
      .card .card-select-wrapper {
        padding: 0 30px 10px; } }
    @media (max-width: 576px) {
      .card .card-select-wrapper {
        padding-left: 0;
        padding-right: 0; } }
    .card .card-select-wrapper:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 228px;
      height: 1px;
      background: #ffffff; }
      @media (max-width: 1199px) {
        .card .card-select-wrapper:after {
          width: 100%; } }
      @media (max-width: 991px) {
        .card .card-select-wrapper:after {
          width: 228px; } }
      @media (max-width: 576px) {
        .card .card-select-wrapper:after {
          width: 100%; } }
  .card .card-select {
    width: 100%; }
    .card .card-select option {
      display: none; }
  .card .lists {
    border-radius: 5px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    padding: 32px 16px;
    width: 100%;
    pointer-events: none;
    z-index: 1; }
    @media (max-width: 1199px) {
      .card .lists {
        width: 107%; } }
    @media (max-width: 991px) {
      .card .lists {
        background: transparent;
        width: 100%;
        position: static;
        height: 0;
        padding: 0; } }
    .card .lists--show {
      border-left: 1px solid #ffffff;
      left: 100%;
      opacity: 1;
      pointer-events: auto;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      height: auto; }
      @media (max-width: 991px) {
        .card .lists--show {
          border: none;
          padding-top: 40px; } }
  .card .lists-title {
    background: #ffffff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 16px 16px 0;
    margin-top: 15px; }
    @media (max-width: 991px) {
      .card .lists-title {
        margin-top: 40px; } }
  .card .effects__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px; }
    .card .effects__row:last-child {
      margin-bottom: 0; }
  .card .effects__type {
    background: #ffffff;
    border: 1px solid #DADADA;
    border-radius: 5px;
    color: #333;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    height: 34px;
    margin-right: 10px;
    padding: 8px 12px; }
  .card .effects__text {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 1; }
  .card .info-list {
    background: #ffffff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif; }
    @media (max-width: 1199px) {
      .card .info-list {
        font-size: 11px; } }
    @media (max-width: 991px) {
      .card .info-list {
        font-size: 13px; } }
    .card .info-list__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%; }
      .card .info-list__item .inform {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        @media (max-width: 576px) {
          .card .info-list__item .inform {
            margin: auto; } }
    .card .info-list .inform-value {
      margin-left: 5px; }
    .card .info-list--can .info-list__item {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33%;
              flex: 0 0 33%;
      max-width: 33%; }
      @media (max-width: 576px) {
        .card .info-list--can .info-list__item {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 50%;
                  flex: 0 0 50%;
          max-width: 50%; }
          .card .info-list--can .info-list__item:nth-child(odd) .inform {
            margin-left: 0; } }
    .card .info-list.terpen-list .info-list__item {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; }
      @media (max-width: 576px) {
        .card .info-list.terpen-list .info-list__item {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 100%;
                  flex: 0 0 100%;
          max-width: 100%; } }
  .card .card-descriptions-wrapper {
    border-radius: 5px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    padding: 32px;
    pointer-events: none;
    z-index: 1;
    width: 100%; }
    @media (max-width: 1199px) {
      .card .card-descriptions-wrapper {
        padding: 16px; } }
    @media (max-width: 991px) {
      .card .card-descriptions-wrapper {
        position: static;
        height: 0;
        padding: 0; } }
    .card .card-descriptions-wrapper--show {
      padding-top: 0;
      top: 100%;
      opacity: 1;
      pointer-events: auto;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      height: auto; }
      @media (max-width: 991px) {
        .card .card-descriptions-wrapper--show .card-descriptions {
          margin-top: 40px; } }
  .card .card-descriptions {
    background: #ffffff;
    border-radius: 5px;
    height: 100%; }
    .card .card-descriptions__title {
      font-weight: 700;
      text-align: center;
      padding-top: 15px; }
    .card .card-descriptions__text {
      font-weight: 400;
      padding: 15px;
      overflow: hidden; }
    .card .card-descriptions__text, .card .card-descriptions__title {
      font-size: 14px;
      font-family: 'Josefin Sans', sans-serif; }
    .card .card-descriptions__more {
      display: none;
      font-size: 14px;
      font-family: 'Josefin Sans', sans-serif;
      text-align: right;
      padding-right: 16px;
      padding-bottom: 5px; }
      .card .card-descriptions__more.show {
        display: block; }
  .card .card-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px; }

.card.open {
  z-index: 2;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }
  @media (max-width: 991px) {
    .card.open {
      border-radius: 5px; } }

.card.last-in-row.open {
  border-radius: 0 5px 0 0; }
  @media (max-width: 991px) {
    .card.last-in-row.open {
      border-radius: 5px; } }

.card.last-in-row .lists--show {
  left: -100%;
  border-radius: 5px 0 0 5px;
  border-left: none;
  border-right: 1px solid #ffffff; }
  @media (max-width: 1199px) {
    .card.last-in-row .lists--show {
      left: -107%; } }
  @media (max-width: 991px) {
    .card.last-in-row .lists--show {
      position: static;
      border: none; } }

/*custom select*/
.select-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .select-info__cost {
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
    margin-right: 22px; }
  .select-info__value {
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 14px; }

.select2-results__options {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414); }

.select2-container--default .select2-selection--single {
  border-radius: 5px !important;
  border: none !important; }

.select2-results__option {
  height: 48px; }
  .select2-results__option .select-info {
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px); }

.select2-container .select2-selection--single {
  height: 48px !important; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-top: 10px;
  padding-left: 15px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered > .select-info .select-info__value {
    -webkit-transform: translateY(1.5px);
        -ms-transform: translateY(1.5px);
            transform: translateY(1.5px); }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50% !important;
  right: 10px !important;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent !important; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #000 transparent !important; }

.select2-dropdown {
  border-radius: 5px !important;
  border: none !important; }

.select2-container--default .select2-results > .select2-results__options {
  border-radius: 5px !important; }

.select2-results__option {
  border-radius: 5px;
  padding-left: 15px !important; }

.main-block__links {
  background: #59C18B;
  margin: 60px 0 40px; }

.main-block__links-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main-block__links-item {
  font-family: Josefin Sans;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  padding: 25px;
  color: #ffffff; }
  .main-block__links-item.is-active, .main-block__links-item:hover, .main-block__links-item:focus {
    color: #000;
    text-decoration: none; }
  @media (max-width: 768px) {
    .main-block__links-item {
      padding: 20px 15px;
      font-size: 18px;
      line-height: 20px; } }
  @media (max-width: 560px) {
    .main-block__links-item {
      padding: 18px 9px;
      font-size: 16px;
      line-height: 16px; } }

.profile-open {
  position: relative; }

.profile-date-popup {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  padding: 15px;
  -webkit-box-shadow: 0 0 5px 0 lightgrey;
          box-shadow: 0 0 5px 0 lightgrey;
  border-radius: 4px;
  z-index: 1;
  background-color: #fff;
  width: 240px; }
  .profile-date-popup.is-open {
    display: block; }

.profile-date__title {
  font-size: 20px;
  display: block;
  margin-bottom: 6px; }

.profile-date__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .profile-date__list-item.is-active .profile-date__day, .profile-date__list-item.is-active .profile-date__time {
    font-weight: bold; }

.profile-date__day, .profile-date__time {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  color: #2DCB71;
    color-font-size: 16px;
    color-font-family: 'Josefin Sans', sans-serif;
    color-font-weight: 400; }

.close {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 16px;
  height: 16px;
  opacity: 0.3; }

.close:hover {
  opacity: 1; }

.close:before, .close:after {
  position: absolute;
  left: 50%;
  content: ' ';
  height: 16px;
  width: 2px;
  background-color: #333; }

.close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
