.header-another-page {
  background: -webkit-gradient(linear, left bottom, left top, from(#205072), to(#2DCB71));
  background: -webkit-linear-gradient(bottom, #205072, #2DCB71);
  background: -o-linear-gradient(bottom, #205072, #2DCB71);
  background: linear-gradient(to top, #205072, #2DCB71);
  padding: 10px 0; }

.main {
  background: url("../img/Bitmap.jpg") no-repeat center;
  background-size: cover;
  height: 880px; }
  @media (max-width: 576px) {
    .main {
      height: 650px; } }
  .main:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../img/Rectangle.png") no-repeat center/100%;
    width: 135px;
    height: 135px;
    z-index: 1; }
    @media (max-width: 991px) {
      .main:before {
        width: 75px;
        height: 75px; } }
    @media (max-width: 576px) {
      .main:before {
        width: 50px;
        height: 50px; } }
  .main:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: -webkit-linear-gradient(274.84deg, #2DCB71 0%, #205072 100%);
    background: -o-linear-gradient(274.84deg, #2DCB71 0%, #205072 100%);
    background: linear-gradient(175.16deg, #2DCB71 0%, #205072 100%);
    opacity: 0.9; }

.container--main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 880px;
  padding-bottom: 48px;
  z-index: 1; }
  @media (max-width: 991px) {
    .container--main {
      padding-bottom: 35px; } }
  @media (max-width: 576px) {
    .container--main {
      height: 650px; } }

@media (min-width: 1200px) {
  .container {
    width: 1200px; } }

.burger {
  display: none; }
  @media (max-width: 991px) {
    .burger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .burger.open {
        z-index: 10;
        -webkit-filter: brightness(0%);
                filter: brightness(0%); } }
  .burger__line {
    width: 16px;
    height: 2px;
    background: #ffffff;
    margin-bottom: 5px; }
    .burger__line:last-child {
      margin-bottom: 0; }

.header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  position: relative; }

.search {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 105px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  @media (max-width: 1199px) {
    .search {
      right: 80px; } }
  @media (max-width: 991px) {
    .search {
      right: 118px; } }

.logo, .user, .main-icon, .burger {
  cursor: pointer; }

@media (max-width: 991px) {
  .logo img {
    width: 75%; } }

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 991px) {
    .user {
      margin-left: auto;
      margin-right: 11px; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Josefin Sans', sans-serif;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  max-width: 60%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .navigation {
      font-family: sans-serif; } }
  @media (max-width: 991px) {
    .navigation {
      background-color: #ffffff;
      position: fixed;
      top: -100%;
      left: 0;
      height: 100%;
      width: 100%;
      max-width: 100%;
      z-index: 9;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .navigation.open {
        top: 0; }
        .navigation.open .navigation__link {
          color: #333;
          font-size: 35px; } }
  .navigation__link {
    color: #ffffff;
    font-size: 20px; }
    .navigation__link:hover {
      color: #ffffff;
      text-decoration: underline; }

.main-title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  @media (max-width: 991px) {
    .main-title {
      width: 690px; } }
  @media (max-width: 767px) {
    .main-title {
      width: 500px; } }
  @media (max-width: 576px) {
    .main-title {
      width: calc(100% - 30px); } }
  .main-title__text {
    min-width: 850px; }
    @media (max-width: 991px) {
      .main-title__text {
        min-width: unset;
        font-size: 55px; } }
    @media (max-width: 767px) {
      .main-title__text {
        font-size: 39px; } }
  .main-title__btn {
    background: #ffffff;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
    border-radius: 24px;
    color: #333;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 295px;
    padding: 14px 0;
    margin: 40px auto 0; }
    .main-title__btn:hover, .main-title__btn:focus {
      text-decoration: none;
      color: #333; }
    @media (max-width: 576px) {
      .main-title__btn {
        font-size: 20px;
        max-width: 200px;
        margin: 35px auto 0; } }

.main-icon {
  margin: auto auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/*products*/
.products {
  background: #ffffff;
  padding: 75px 0; }
  @media (max-width: 991px) {
    .products {
      padding: 35px 0; } }

.products.products--unpadding {
  padding: 0; }
  .products.products--unpadding .product-cards {
    margin-top: 65px; }

.product-title__excerpt {
  color: #333;
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  line-height: 1;
  margin-top: 15px; }
  @media (max-width: 576px) {
    .product-title__excerpt {
      font-size: 20px; } }

.product-cards {
  margin-top: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 991px) {
    .product-cards {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 35px; } }
  .product-cards .card {
    width: 370px; }
    .product-cards .card:nth-child(n+4) {
      margin-top: 60px; }
      @media (max-width: 991px) {
        .product-cards .card:nth-child(n+4) {
          margin-top: 0; } }
    @media (max-width: 1199px) {
      .product-cards .card {
        width: 290px; } }
    @media (max-width: 991px) {
      .product-cards .card {
        margin-bottom: 50px;
        width: 370px; }
        .product-cards .card:last-child {
          margin-bottom: 0; } }
    @media (max-width: 576px) {
      .product-cards .card {
        width: 100%; } }

/*products*/
/*dispensaries, featured*/
.dispensaries, .featured {
  background: #EEEEEE;
  padding: 75px 0;
  border-bottom: 1px solid #C2C2C2; }
  @media (max-width: 991px) {
    .dispensaries, .featured {
      padding: 35px 0; } }
  .dispensaries:before, .featured:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background: url("../img/Rectangle-dispensaries.png") no-repeat center/100%;
    width: 135px;
    height: 135px;
    z-index: 1; }
    @media (max-width: 991px) {
      .dispensaries:before, .featured:before {
        width: 75px;
        height: 75px; } }
    @media (max-width: 576px) {
      .dispensaries:before, .featured:before {
        width: 50px;
        height: 50px; } }

.featured {
  background: #E9E9E9;
  border: none; }
  .featured:before {
    content: '';
    position: absolute;
    right: inherit;
    left: 0;
    top: inherit;
    bottom: 0;
    background: url("../img/Rectangle-brightness.png") no-repeat center/100%;
    width: 135px;
    height: 135px;
    z-index: 1; }
    @media (max-width: 991px) {
      .featured:before {
        width: 75px;
        height: 75px; } }
    @media (max-width: 576px) {
      .featured:before {
        width: 50px;
        height: 50px; } }

.dispensaries-title, .featured-title {
  text-align: center; }
  .dispensaries-title__excerpt, .featured-title__excerpt {
    color: #333;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    line-height: 1;
    margin-top: 15px; }
    @media (max-width: 576px) {
      .dispensaries-title__excerpt, .featured-title__excerpt {
        font-size: 20px; } }

.dispensaries-list, .featured-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 86px; }
  @media (max-width: 991px) {
    .dispensaries-list, .featured-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 35px; } }
  .dispensaries-list__item, .featured-list__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 3);
            flex: 0 0 calc(100% / 3);
    padding: 15px;
    border-radius: 8px; }
    @media (max-width: 1199px) {
      .dispensaries-list__item, .featured-list__item {
        width: 290px; } }
    @media (max-width: 991px) {
      .dispensaries-list__item, .featured-list__item {
        margin-bottom: 50px;
        width: 370px; }
        .dispensaries-list__item:last-child, .featured-list__item:last-child {
          margin-bottom: 0; } }
    @media (max-width: 576px) {
      .dispensaries-list__item, .featured-list__item {
        width: 290px; } }
    .dispensaries-list__item .btn-main, .featured-list__item .btn-main {
      margin: 34px auto 0; }
      @media (max-width: 576px) {
        .dispensaries-list__item .btn-main, .featured-list__item .btn-main {
          margin: 15px auto 0; } }

.dispensaries-in, .featured-in {
  background: #ffffff;
  height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  -webkit-box-shadow: 0 2.5px 5px #D8D8D8;
          box-shadow: 0 2.5px 5px #D8D8D8; }
  @media (max-width: 1199px) {
    .dispensaries-in, .featured-in {
      height: 290px; } }
  @media (max-width: 991px) {
    .dispensaries-in, .featured-in {
      height: 370px; } }
  @media (max-width: 576px) {
    .dispensaries-in, .featured-in {
      height: 290px; } }
  .dispensaries-in img, .featured-in img {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px; }

/*dispansaries, featured*/
/*medical*/
.medical {
  background: -webkit-linear-gradient(301.43deg, #2DCB71 0%, #004FDE 100%);
  background: -o-linear-gradient(301.43deg, #2DCB71 0%, #004FDE 100%);
  background: linear-gradient(148.57deg, #2DCB71 0%, #004FDE 100%);
  padding: 160px 0; }
  @media (max-width: 991px) {
    .medical {
      padding: 70px 0 35px; } }
  @media (max-width: 576px) {
    .medical {
      padding: 35px 0; } }

.container--medical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse; }

.medical-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  @media (max-width: 991px) {
    .medical-left {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      margin-top: 78px; } }
  @media (max-width: 576px) {
    .medical-left {
      margin-top: 35px; } }
  .medical-left__text {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin: 30px 0 50px; }
    @media (max-width: 576px) {
      .medical-left__text {
        font-size: 20px;
        margin: 30px 0; } }
  @media (max-width: 991px) {
    .medical-left__btn {
      margin-left: auto;
      margin-right: auto; } }

.medical-right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right; }
  @media (max-width: 991px) {
    .medical-right {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      text-align: center; } }
  .medical-right__image {
    display: inline-block;
    position: relative;
    border-radius: 8px; }
    .medical-right__image:before {
      content: '';
      position: absolute;
      left: -28px;
      top: 28px;
      background-color: #F1B505;
      width: 100%;
      height: 100%;
      z-index: 0;
      border-radius: 8px; }
      @media (max-width: 767px) {
        .medical-right__image:before {
          left: -10px;
          top: 10px; } }
      @media (max-width: 767px) {
        .medical-right__image:before {
          left: -5px;
          top: 5px; } }
    .medical-right__image img {
      position: relative;
      border-radius: 8px; }
      @media (max-width: 767px) {
        .medical-right__image img {
          width: 100%; } }

/*medical*/
/*footer*/
.footer-top {
  border-bottom: 1px solid #E9E9E9;
  padding-top: 75px; }
  @media (max-width: 767px) {
    .footer-top {
      padding-top: 35px; } }

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 111px;
  color: rgba(51, 51, 51, 0.501557);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300; }
  @media (max-width: 767px) {
    .footer-bottom {
      height: auto; } }
  @media (max-width: 576px) {
    .footer-bottom {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 15px 0; } }
  .footer-bottom .copyright, .footer-bottom .copyright-author {
    line-height: 1; }
    @media (max-width: 576px) {
      .footer-bottom .copyright, .footer-bottom .copyright-author {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        text-align: center; } }
  @media (max-width: 576px) {
    .footer-bottom .copyright-author {
      margin-top: 5px; } }

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px; }
  @media (max-width: 767px) {
    .footer-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding-bottom: 35px; } }
  .footer-list__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 370px;
            flex: 0 0 370px;
    max-width: 370px;
    line-height: 1; }
    @media (max-width: 1199px) {
      .footer-list__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 33.3333%;
                flex: 0 0 33.3333%;
        max-width: 33.3333%; } }
    @media (max-width: 767px) {
      .footer-list__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        text-align: center; } }
    .footer-list__item:first-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }

.footer-logo {
  margin-bottom: 25px; }
  .footer-logo__link {
    color: #333;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 40px;
    display: inline-block;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase; }
    .footer-logo__link:hover {
      color: #333; }

.footer-title {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 1px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 25px; }
  @media (max-width: 767px) {
    .footer-title {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: auto;
      margin-top: 30px; } }

.footer-address {
  color: rgba(51, 51, 51, 0.501557);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  line-height: 1.2; }
  .footer-address__shell {
    max-width: 200px; }
    @media (max-width: 767px) {
      .footer-address__shell {
        margin: 0 auto; } }

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: auto; }
  @media (max-width: 767px) {
    .footer-social {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 25px; } }
  .footer-social__link {
    margin-right: 10px; }
    .footer-social__link:hover {
      opacity: 0.6; }
    .footer-social__link:last-child {
      margin-right: 0; }

.footer-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .footer-menu__item {
    line-height: 1;
    margin-bottom: 10px;
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
    .footer-menu__item:nth-last-child(2) {
      margin-bottom: 0; }
    .footer-menu__item:last-child {
      margin-bottom: 0; }
  .footer-menu__link {
    color: #333;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300; }
    .footer-menu__link:hover {
      color: #333;
      text-decoration: underline; }

.subscribe-form {
  width: 100%; }
  @media (max-width: 576px) {
    .subscribe-form {
      max-width: 320px;
      margin: auto; } }
  .subscribe-form__text {
    color: rgba(51, 51, 51, 0.501557);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 10px; }
  .subscribe-form__input {
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    color: rgba(51, 51, 51, 0.501557);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    width: 100%;
    height: 48px;
    margin-bottom: 15px;
    padding: 15px; }
  .subscribe-form__btn {
    width: 100%;
    max-width: 100%;
    height: 48px; }
  .subscribe-form ::-webkit-input-placeholder {
    color: rgba(51, 51, 51, 0.501557);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300; }
  .subscribe-form ::-moz-placeholder {
    color: rgba(51, 51, 51, 0.501557);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300; }
  .subscribe-form :-ms-input-placeholder {
    color: rgba(51, 51, 51, 0.501557);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300; }
  .subscribe-form :-moz-placeholder {
    color: rgba(51, 51, 51, 0.501557);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300; }

/*footer*/
