/* default styles for all pages */
/* FONTS */
@font-face {
  font-family: 'slick';
  src: url("../fonts/fonts/slick.eot");
  src: url("../fonts/fonts/slick.woff"), url("../fonts/fonts/slick.ttf"), url("../fonts/fonts/slick.svg");
  font-weight: normal;
  font-style: normal; }

.flex-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.form-control::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.5); }

.form-control {
  padding: .8rem .75rem; }

select.form-control.select-height {
  height: 48px !important; }

.text-center {
  text-align: center; }

.title {
  font-size: 72px;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0; }
  .title--white {
    color: #ffffff; }
  .title--black {
    color: #333; }

.sub-title {
  font-size: 56px;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0; }
  @media (max-width: 767px) {
    .sub-title {
      font-size: 40px; } }
  .sub-title--white {
    color: #ffffff; }
  .sub-title--black {
    color: #333; }

.btn-main {
  background: -webkit-linear-gradient(285.77deg, #2DCB71 0%, #205072 100%);
  background: -o-linear-gradient(285.77deg, #2DCB71 0%, #205072 100%);
  background: linear-gradient(164.23deg, #2DCB71 0%, #205072 100%);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  max-width: 170px;
  padding: 10.5px 10px;
  outline: none; }
  .btn-main:hover, .btn-main:focus {
    background: -webkit-linear-gradient(315deg, #CA5EFF 0%, #004FDE 100%);
    background: -o-linear-gradient(315deg, #CA5EFF 0%, #004FDE 100%);
    background: linear-gradient(135deg, #CA5EFF 0%, #004FDE 100%);
    color: #ffffff;
    text-decoration: none; }
  @media (max-width: 576px) {
    .btn-main {
      max-width: 120px;
      font-size: 14px; } }
  .btn-main--white {
    background: #ffffff;
    border: 1px solid #c3c6ef;
    color: #434CCC;
    padding-top: 9.5px;
    padding-bottom: 9.5px; }
    .btn-main--white:hover, .btn-main--white:focus {
      color: #434CCC;
      background: #ffffff; }
  .btn-main--yellow {
    background: #F1B505;
    color: #ffffff; }
    .btn-main--yellow:hover, .btn-main--yellow:focus {
      color: #ffffff;
      background: #F1B505; }

.btn-action {
  background: #ffffff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
  border-radius: 24px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  max-width: 146px;
  -ms-flex-preferred-size: 146px;
      flex-basis: 146px;
  padding: 10.5px 10px;
  outline: none; }
  @media (max-width: 1199px) {
    .btn-action {
      max-width: 120px;
      -ms-flex-preferred-size: 120px;
          flex-basis: 120px; } }
  @media (max-width: 991px) {
    .btn-action {
      max-width: 146px;
      -ms-flex-preferred-size: 146px;
          flex-basis: 146px; } }
  @media (max-width: 576px) {
    .btn-action {
      max-width: 120px;
      -ms-flex-preferred-size: 120px;
          flex-basis: 120px; } }
  .btn-action--light {
    color: #2DCC70; }
    .btn-action--light:hover, .btn-action--light:focus {
      color: #2DCC70; }
  .btn-action--dark {
    color: #333; }
    .btn-action--dark:hover, .btn-action--dark:focus {
      color: #333; }
  .btn-action:hover, .btn-action:focus {
    text-decoration: none; }

.circle {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.3003);
  border-radius: 50%; }

.browse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.browse-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 79px;
  margin-bottom: 0; }
  @media (max-width: 991px) {
    .browse-all {
      margin-top: 35px; } }
  .browse-all__text {
    color: #333;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-right: 15px; }
  .browse-all__icon {
    border: 1px solid rgba(51, 51, 51, 0.297271);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%; }
  .browse-all:hover .browse-all__text {
    text-decoration: underline; }

.card {
  border: none;
  border-radius: 8px;
  font-family: 'Josefin Sans Bold', sans-serif;
  padding: 32px; }
  @media (max-width: 1199px) {
    .card {
      padding: 15px; } }
  @media (max-width: 991px) {
    .card {
      padding: 32px; } }
  @media (max-width: 576px) {
    .card {
      padding: 15px 20px; } }
  .card--aqua {
    background: -webkit-gradient(linear, left top, left bottom, from(#00CDAC), to(#02AAB0));
    background: -webkit-linear-gradient(top, #00CDAC 0%, #02AAB0 100%);
    background: -o-linear-gradient(top, #00CDAC 0%, #02AAB0 100%);
    background: linear-gradient(180deg, #00CDAC 0%, #02AAB0 100%); }
    .card--aqua .lists {
      background: -webkit-gradient(linear, left top, left bottom, from(#00CDAC), to(#02AAB0));
      background: -webkit-linear-gradient(top, #00CDAC 0%, #02AAB0 100%);
      background: -o-linear-gradient(top, #00CDAC 0%, #02AAB0 100%);
      background: linear-gradient(180deg, #00CDAC 0%, #02AAB0 100%); }
    .card--aqua .card-descriptions-wrapper {
      background: -webkit-gradient(linear, left top, left bottom, from(#02AAB0), to(#02AAB0));
      background: -webkit-linear-gradient(top, #02AAB0 0%, #02AAB0 100%);
      background: -o-linear-gradient(top, #02AAB0 0%, #02AAB0 100%);
      background: linear-gradient(180deg, #02AAB0 0%, #02AAB0 100%); }
  .card--orange {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF9966), to(#FF5E62));
    background: -webkit-linear-gradient(top, #FF9966 0%, #FF5E62 100%);
    background: -o-linear-gradient(top, #FF9966 0%, #FF5E62 100%);
    background: linear-gradient(180deg, #FF9966 0%, #FF5E62 100%); }
    .card--orange .lists {
      background: -webkit-gradient(linear, left top, left bottom, from(#FF9966), to(#FF5E62));
      background: -webkit-linear-gradient(top, #FF9966 0%, #FF5E62 100%);
      background: -o-linear-gradient(top, #FF9966 0%, #FF5E62 100%);
      background: linear-gradient(180deg, #FF9966 0%, #FF5E62 100%); }
    .card--orange .card-descriptions-wrapper {
      background: -webkit-gradient(linear, left top, left bottom, from(#FF5E62), to(#FF5E62));
      background: -webkit-linear-gradient(top, #FF5E62 0%, #FF5E62 100%);
      background: -o-linear-gradient(top, #FF5E62 0%, #FF5E62 100%);
      background: linear-gradient(180deg, #FF5E62 0%, #FF5E62 100%); }
  .card--purple {
    background: -webkit-gradient(linear, left top, left bottom, from(#6F86D6), to(#48C6EF));
    background: -webkit-linear-gradient(top, #6F86D6 0%, #48C6EF 100%);
    background: -o-linear-gradient(top, #6F86D6 0%, #48C6EF 100%);
    background: linear-gradient(180deg, #6F86D6 0%, #48C6EF 100%); }
    .card--purple .lists {
      background: -webkit-gradient(linear, left top, left bottom, from(#6F86D6), to(#48C6EF));
      background: -webkit-linear-gradient(top, #6F86D6 0%, #48C6EF 100%);
      background: -o-linear-gradient(top, #6F86D6 0%, #48C6EF 100%);
      background: linear-gradient(180deg, #6F86D6 0%, #48C6EF 100%); }
    .card--purple .card-descriptions-wrapper {
      background: -webkit-gradient(linear, left top, left bottom, from(#48C6EF), to(#48C6EF));
      background: -webkit-linear-gradient(top, #48C6EF 0%, #48C6EF 100%);
      background: -o-linear-gradient(top, #48C6EF 0%, #48C6EF 100%);
      background: linear-gradient(180deg, #48C6EF 0%, #48C6EF 100%); }
  .card--tinture {
    background: -webkit-gradient(linear, left top, left bottom, from(#42275A), to(#734B6D));
    background: -webkit-linear-gradient(top, #42275A 0%, #734B6D 100%);
    background: -o-linear-gradient(top, #42275A 0%, #734B6D 100%);
    background: linear-gradient(180deg, #42275A 0%, #734B6D 100%); }
    .card--tinture .lists {
      background: -webkit-gradient(linear, left top, left bottom, from(#42275A), to(#734B6D));
      background: -webkit-linear-gradient(top, #42275A 0%, #734B6D 100%);
      background: -o-linear-gradient(top, #42275A 0%, #734B6D 100%);
      background: linear-gradient(180deg, #42275A 0%, #734B6D 100%); }
    .card--tinture .card-descriptions-wrapper {
      background: -webkit-gradient(linear, left top, left bottom, from(#734B6D), to(#734B6D));
      background: -webkit-linear-gradient(top, #734B6D 0%, #734B6D 100%);
      background: -o-linear-gradient(top, #734B6D 0%, #734B6D 100%);
      background: linear-gradient(180deg, #734B6D 0%, #734B6D 100%); }
  .card--preroll {
    background: -webkit-gradient(linear, left top, left bottom, from(#80D0C7), to(#13547A));
    background: -webkit-linear-gradient(top, #80D0C7 0%, #13547A 100%);
    background: -o-linear-gradient(top, #80D0C7 0%, #13547A 100%);
    background: linear-gradient(180deg, #80D0C7 0%, #13547A 100%); }
    .card--preroll .lists {
      background: -webkit-gradient(linear, left top, left bottom, from(#80D0C7), to(#13547A));
      background: -webkit-linear-gradient(top, #80D0C7 0%, #13547A 100%);
      background: -o-linear-gradient(top, #80D0C7 0%, #13547A 100%);
      background: linear-gradient(180deg, #80D0C7 0%, #13547A 100%); }
    .card--preroll .card-descriptions-wrapper {
      background: -webkit-gradient(linear, left top, left bottom, from(#13547A), to(#13547A));
      background: -webkit-linear-gradient(top, #13547A 0%, #13547A 100%);
      background: -o-linear-gradient(top, #13547A 0%, #13547A 100%);
      background: linear-gradient(180deg, #13547A 0%, #13547A 100%); }
  .card--concentrate {
    background: -webkit-gradient(linear, left top, left bottom, from(#4568DC), to(#B06AB3));
    background: -webkit-linear-gradient(top, #4568DC 0%, #B06AB3 100%);
    background: -o-linear-gradient(top, #4568DC 0%, #B06AB3 100%);
    background: linear-gradient(180deg, #4568DC 0%, #B06AB3 100%); }
    .card--concentrate .lists {
      background: -webkit-gradient(linear, left top, left bottom, from(#4568DC), to(#B06AB3));
      background: -webkit-linear-gradient(top, #4568DC 0%, #B06AB3 100%);
      background: -o-linear-gradient(top, #4568DC 0%, #B06AB3 100%);
      background: linear-gradient(180deg, #4568DC 0%, #B06AB3 100%); }
    .card--concentrate .card-descriptions-wrapper {
      background: -webkit-gradient(linear, left top, left bottom, from(#B06AB3), to(#B06AB3));
      background: -webkit-linear-gradient(top, #B06AB3 0%, #B06AB3 100%);
      background: -o-linear-gradient(top, #B06AB3 0%, #B06AB3 100%);
      background: linear-gradient(180deg, #B06AB3 0%, #B06AB3 100%); }
  .card--drink {
    background: -webkit-gradient(linear, left top, left bottom, from(#000428), to(#004E92));
    background: -webkit-linear-gradient(top, #000428 0%, #004E92 100%);
    background: -o-linear-gradient(top, #000428 0%, #004E92 100%);
    background: linear-gradient(180deg, #000428 0%, #004E92 100%); }
    .card--drink .lists {
      background: -webkit-gradient(linear, left top, left bottom, from(#000428), to(#004E92));
      background: -webkit-linear-gradient(top, #000428 0%, #004E92 100%);
      background: -o-linear-gradient(top, #000428 0%, #004E92 100%);
      background: linear-gradient(180deg, #000428 0%, #004E92 100%); }
    .card--drink .card-descriptions-wrapper {
      background: -webkit-gradient(linear, left top, left bottom, from(#004E92), to(#004E92));
      background: -webkit-linear-gradient(top, #004E92 0%, #004E92 100%);
      background: -o-linear-gradient(top, #004E92 0%, #004E92 100%);
      background: linear-gradient(180deg, #004E92 0%, #004E92 100%); }
  .card--patch {
    background: -webkit-gradient(linear, left top, left bottom, from(#CC2B5E), to(#753A88));
    background: -webkit-linear-gradient(top, #CC2B5E 0%, #753A88 100%);
    background: -o-linear-gradient(top, #CC2B5E 0%, #753A88 100%);
    background: linear-gradient(180deg, #CC2B5E 0%, #753A88 100%); }
    .card--patch .lists {
      background: -webkit-gradient(linear, left top, left bottom, from(#CC2B5E), to(#753A88));
      background: -webkit-linear-gradient(top, #CC2B5E 0%, #753A88 100%);
      background: -o-linear-gradient(top, #CC2B5E 0%, #753A88 100%);
      background: linear-gradient(180deg, #CC2B5E 0%, #753A88 100%); }
    .card--patch .card-descriptions-wrapper {
      background: -webkit-gradient(linear, left top, left bottom, from(#753A88), to(#753A88));
      background: -webkit-linear-gradient(top, #753A88 0%, #753A88 100%);
      background: -o-linear-gradient(top, #753A88 0%, #753A88 100%);
      background: linear-gradient(180deg, #753A88 0%, #753A88 100%); }
  .card--topical {
    background: -webkit-gradient(linear, left top, left bottom, from(#2B5876), to(#4E4376));
    background: -webkit-linear-gradient(top, #2B5876 0%, #4E4376 100%);
    background: -o-linear-gradient(top, #2B5876 0%, #4E4376 100%);
    background: linear-gradient(180deg, #2B5876 0%, #4E4376 100%); }
    .card--topical .lists {
      background: -webkit-gradient(linear, left top, left bottom, from(#2B5876), to(#4E4376));
      background: -webkit-linear-gradient(top, #2B5876 0%, #4E4376 100%);
      background: -o-linear-gradient(top, #2B5876 0%, #4E4376 100%);
      background: linear-gradient(180deg, #2B5876 0%, #4E4376 100%); }
    .card--topical .card-descriptions-wrapper {
      background: -webkit-gradient(linear, left top, left bottom, from(#4E4376), to(#4E4376));
      background: -webkit-linear-gradient(top, #4E4376 0%, #4E4376 100%);
      background: -o-linear-gradient(top, #4E4376 0%, #4E4376 100%);
      background: linear-gradient(180deg, #4E4376 0%, #4E4376 100%); }
  .card .card-title {
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1; }
  .card .card-by {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px; }
    .card .card-by a {
      color: #ffffff; }
      .card .card-by a:hover {
        text-decoration: underline; }
  .card .card-compose {
    color: #ffffff;
    margin-top: 30px; }
  .card .card-compose-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .card .card-compose-in__left, .card .card-compose-in__right {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 700;
      display: inline-block; }
    .card .card-compose-in__left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .card .card-compose-in__left > * {
        margin-right: 10px; }
    .card .card-compose-in__right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 76px;
      position: relative;
      min-height: 24px; }
      .card .card-compose-in__right img {
        position: absolute;
        bottom: 6px; }
  .card .card-select-wrapper {
    padding: 0 30px 10px;
    position: relative;
    margin-top: 40px; }
    @media (max-width: 1199px) {
      .card .card-select-wrapper {
        padding-left: 0;
        padding-right: 0; } }
    @media (max-width: 991px) {
      .card .card-select-wrapper {
        padding: 0 30px 10px; } }
    @media (max-width: 576px) {
      .card .card-select-wrapper {
        padding-left: 0;
        padding-right: 0; } }
    .card .card-select-wrapper:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 228px;
      height: 1px;
      background: #ffffff; }
      @media (max-width: 1199px) {
        .card .card-select-wrapper:after {
          width: 100%; } }
      @media (max-width: 991px) {
        .card .card-select-wrapper:after {
          width: 228px; } }
      @media (max-width: 576px) {
        .card .card-select-wrapper:after {
          width: 100%; } }
  .card .card-select {
    width: 100%; }
    .card .card-select option {
      display: none; }
  .card .lists {
    border-radius: 5px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    padding: 32px 16px;
    width: 100%;
    pointer-events: none;
    z-index: 1; }
    @media (max-width: 1199px) {
      .card .lists {
        width: 107%; } }
    @media (max-width: 991px) {
      .card .lists {
        background: transparent;
        width: 100%;
        position: static;
        height: 0;
        padding: 0; } }
    .card .lists--show {
      border-left: 1px solid #ffffff;
      left: 100%;
      opacity: 1;
      pointer-events: auto;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      height: auto; }
      @media (max-width: 991px) {
        .card .lists--show {
          border: none;
          padding-top: 40px; } }
  .card .lists-title {
    background: #ffffff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 16px 16px 0;
    margin-top: 15px; }
    @media (max-width: 991px) {
      .card .lists-title {
        margin-top: 40px; } }
  .card .effects__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px; }
    .card .effects__row:last-child {
      margin-bottom: 0; }
  .card .effects__type {
    background: #ffffff;
    border: 1px solid #DADADA;
    border-radius: 5px;
    color: #333;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    height: 34px;
    margin-right: 10px;
    padding: 8px 12px; }
  .card .effects__text {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 1; }
  .card .info-list {
    background: #ffffff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif; }
    @media (max-width: 1199px) {
      .card .info-list {
        font-size: 11px; } }
    @media (max-width: 991px) {
      .card .info-list {
        font-size: 13px; } }
    .card .info-list__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%; }
      .card .info-list__item .inform {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        @media (max-width: 576px) {
          .card .info-list__item .inform {
            margin: auto; } }
    .card .info-list .inform-value {
      margin-left: 5px; }
    .card .info-list--can .info-list__item {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33%;
              flex: 0 0 33%;
      max-width: 33%; }
      @media (max-width: 576px) {
        .card .info-list--can .info-list__item {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 50%;
                  flex: 0 0 50%;
          max-width: 50%; }
          .card .info-list--can .info-list__item:nth-child(odd) .inform {
            margin-left: 0; } }
    .card .info-list.terpen-list .info-list__item {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; }
      @media (max-width: 576px) {
        .card .info-list.terpen-list .info-list__item {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 100%;
                  flex: 0 0 100%;
          max-width: 100%; } }
  .card .card-descriptions-wrapper {
    border-radius: 5px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    padding: 32px;
    pointer-events: none;
    z-index: 1;
    width: 100%; }
    @media (max-width: 1199px) {
      .card .card-descriptions-wrapper {
        padding: 16px; } }
    @media (max-width: 991px) {
      .card .card-descriptions-wrapper {
        position: static;
        height: 0;
        padding: 0; } }
    .card .card-descriptions-wrapper--show {
      padding-top: 0;
      top: 100%;
      opacity: 1;
      pointer-events: auto;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      height: auto; }
      @media (max-width: 991px) {
        .card .card-descriptions-wrapper--show .card-descriptions {
          margin-top: 40px; } }
  .card .card-descriptions {
    background: #ffffff;
    border-radius: 5px;
    height: 100%; }
    .card .card-descriptions__title {
      font-weight: 700;
      text-align: center;
      padding-top: 15px; }
    .card .card-descriptions__text {
      font-weight: 400;
      padding: 15px;
      overflow: hidden; }
    .card .card-descriptions__text, .card .card-descriptions__title {
      font-size: 14px;
      font-family: 'Josefin Sans', sans-serif; }
    .card .card-descriptions__more {
      display: none;
      font-size: 14px;
      font-family: 'Josefin Sans', sans-serif;
      text-align: right;
      padding-right: 16px;
      padding-bottom: 5px; }
      .card .card-descriptions__more.show {
        display: block; }
  .card .card-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px; }

.card.open {
  z-index: 2;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }
  @media (max-width: 991px) {
    .card.open {
      border-radius: 5px; } }

.card.last-in-row.open {
  border-radius: 0 5px 0 0; }
  @media (max-width: 991px) {
    .card.last-in-row.open {
      border-radius: 5px; } }

.card.last-in-row .lists--show {
  left: -100%;
  border-radius: 5px 0 0 5px;
  border-left: none;
  border-right: 1px solid #ffffff; }
  @media (max-width: 1199px) {
    .card.last-in-row .lists--show {
      left: -107%; } }
  @media (max-width: 991px) {
    .card.last-in-row .lists--show {
      position: static;
      border: none; } }

/*custom select*/
.select-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .select-info__cost {
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
    margin-right: 22px; }
  .select-info__value {
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 14px; }

.select2-results__options {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414); }

.select2-container--default .select2-selection--single {
  border-radius: 5px !important;
  border: none !important; }

.select2-results__option {
  height: 48px; }
  .select2-results__option .select-info {
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px); }

.select2-container .select2-selection--single {
  height: 48px !important; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-top: 10px;
  padding-left: 15px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered > .select-info .select-info__value {
    -webkit-transform: translateY(1.5px);
        -ms-transform: translateY(1.5px);
            transform: translateY(1.5px); }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50% !important;
  right: 10px !important;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent !important; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #000 transparent !important; }

.select2-dropdown {
  border-radius: 5px !important;
  border: none !important; }

.select2-container--default .select2-results > .select2-results__options {
  border-radius: 5px !important; }

.select2-results__option {
  border-radius: 5px;
  padding-left: 15px !important; }

.main-block__links {
  background: #59C18B;
  margin: 60px 0 40px; }

.main-block__links-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main-block__links-item {
  font-family: Josefin Sans;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  padding: 25px;
  color: #ffffff; }
  .main-block__links-item.is-active, .main-block__links-item:hover, .main-block__links-item:focus {
    color: #000;
    text-decoration: none; }
  @media (max-width: 768px) {
    .main-block__links-item {
      padding: 20px 15px;
      font-size: 18px;
      line-height: 20px; } }
  @media (max-width: 560px) {
    .main-block__links-item {
      padding: 18px 9px;
      font-size: 16px;
      line-height: 16px; } }

.profile-open {
  position: relative; }

.profile-date-popup {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  padding: 15px;
  -webkit-box-shadow: 0 0 5px 0 lightgrey;
          box-shadow: 0 0 5px 0 lightgrey;
  border-radius: 4px;
  z-index: 1;
  background-color: #fff;
  width: 240px; }
  .profile-date-popup.is-open {
    display: block; }

.profile-date__title {
  font-size: 20px;
  display: block;
  margin-bottom: 6px; }

.profile-date__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .profile-date__list-item.is-active .profile-date__day, .profile-date__list-item.is-active .profile-date__time {
    font-weight: bold; }

.profile-date__day, .profile-date__time {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  color: #2DCB71;
    color-font-size: 16px;
    color-font-family: 'Josefin Sans', sans-serif;
    color-font-weight: 400; }

.close {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 16px;
  height: 16px;
  opacity: 0.3; }

.close:hover {
  opacity: 1; }

.close:before, .close:after {
  position: absolute;
  left: 50%;
  content: ' ';
  height: 16px;
  width: 2px;
  background-color: #333; }

.close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:hover, *:active, *:focus {
    outline: none; }

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%; }
  body.ov-hidden {
    overflow: hidden; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

/* select
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none */
/* select::-ms-expand
  display: none */
a {
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  a:hover {
    text-decoration: none; }

[role=button], a, area, button, input, label, select, summary, textarea {
  touch-action: none;
  -ms-touch-action: none; }

section {
  position: relative; }

.header__buttons-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header__buttons-icons .user {
    margin-left: 46px; }
    .header__buttons-icons .user:first-child {
      margin-left: 0; }

.show-mobile {
  display: none; }

.btn-add-to-cart-icon {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: auto;
  -ms-flex-preferred-size: auto;
      flex-basis: auto; }

@media (max-width: 768px) {
  .select-info {
    margin-right: 6px; }
  .select-info__value {
    -webkit-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
            transform: translateY(0) !important; }
  .select-info__cost {
    font-size: 14px;
    margin-right: 7px; }
  .card .card-actions {
    margin-left: -10px;
    margin-right: -10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .card .card-compose {
    margin-top: -5px; }
  .card .card-compose-in__right img {
    width: 60px; }
  .hide-mobile {
    display: none; }
  .show-mobile {
    display: block; }
  .header__buttons-icons .user {
    margin-left: 10px; } }

.header-search-block {
  position: absolute;
  top: -100%;
  width: 100%;
  background-color: #f6f6f6;
  z-index: 10;
  height: 155px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  opacity: 0; }
  .header-search-block.opened {
    opacity: 1;
    top: 0; }
  .header-search-block .container {
    max-width: 866px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header-search-block .form-vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 50px);
            flex: 0 0 calc(100% - 50px); }
  .header-search-block input {
    height: 55px;
    padding: 0 15px;
    border: 0;
    background: #fff;
    color: #797979;
    font-size: 18px;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important; }
  .header-search-block button {
    background: transparent;
    border: 0;
    vertical-align: top;
    position: absolute;
    right: 100px;
    top: 7px;
    height: 55px;
    margin: auto;
    bottom: 0;
    z-index: 99; }
  .header-search-block .close-search {
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 17px;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden; }
    .header-search-block .close-search:before, .header-search-block .close-search:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #8d8d8d;
      border-radius: 5px; }
    .header-search-block .close-search:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .header-search-block .close-search:after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .header-search-block .close-search:hover:before, .header-search-block .close-search:hover:after {
      background: #78aa27; }
  .header-search-block .form-vertical__inner, .header-search-block .twitter-typeahead {
    width: 100%; }

.header-another-page {
  background: -webkit-gradient(linear, left bottom, left top, from(#205072), to(#2DCB71));
  background: -webkit-linear-gradient(bottom, #205072, #2DCB71);
  background: -o-linear-gradient(bottom, #205072, #2DCB71);
  background: linear-gradient(to top, #205072, #2DCB71);
  padding: 10px 0; }

.main {
  background: url("../img/Bitmap.jpg") no-repeat center;
  background-size: cover;
  height: 880px; }
  @media (max-width: 576px) {
    .main {
      height: 650px; } }
  .main:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../img/Rectangle.png") no-repeat center/100%;
    width: 135px;
    height: 135px;
    z-index: 1; }
    @media (max-width: 991px) {
      .main:before {
        width: 75px;
        height: 75px; } }
    @media (max-width: 576px) {
      .main:before {
        width: 50px;
        height: 50px; } }
  .main:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: -webkit-linear-gradient(274.84deg, #2DCB71 0%, #205072 100%);
    background: -o-linear-gradient(274.84deg, #2DCB71 0%, #205072 100%);
    background: linear-gradient(175.16deg, #2DCB71 0%, #205072 100%);
    opacity: 0.9; }

.container--main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 880px;
  padding-bottom: 48px;
  z-index: 1; }
  @media (max-width: 991px) {
    .container--main {
      padding-bottom: 35px; } }
  @media (max-width: 576px) {
    .container--main {
      height: 650px; } }

@media (min-width: 1200px) {
  .container {
    width: 1200px; } }

.burger {
  display: none; }
  @media (max-width: 991px) {
    .burger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .burger.open {
        z-index: 10;
        -webkit-filter: brightness(0%);
                filter: brightness(0%); } }
  .burger__line {
    width: 16px;
    height: 2px;
    background: #ffffff;
    margin-bottom: 5px; }
    .burger__line:last-child {
      margin-bottom: 0; }

.header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  position: relative; }

.search {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 105px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  @media (max-width: 1199px) {
    .search {
      right: 80px; } }
  @media (max-width: 991px) {
    .search {
      right: 118px; } }

.logo, .user, .main-icon, .burger {
  cursor: pointer; }

@media (max-width: 991px) {
  .logo img {
    width: 75%; } }

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 991px) {
    .user {
      margin-left: auto;
      margin-right: 11px; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Josefin Sans', sans-serif;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  max-width: 60%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .navigation {
      font-family: sans-serif; } }
  @media (max-width: 991px) {
    .navigation {
      background-color: #ffffff;
      position: fixed;
      top: -100%;
      left: 0;
      height: 100%;
      width: 100%;
      max-width: 100%;
      z-index: 9;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .navigation.open {
        top: 0; }
        .navigation.open .navigation__link {
          color: #333;
          font-size: 35px; } }
  .navigation__link {
    color: #ffffff;
    font-size: 20px; }
    .navigation__link:hover {
      color: #ffffff;
      text-decoration: underline; }

.main-title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  @media (max-width: 991px) {
    .main-title {
      width: 690px; } }
  @media (max-width: 767px) {
    .main-title {
      width: 500px; } }
  @media (max-width: 576px) {
    .main-title {
      width: calc(100% - 30px); } }
  .main-title__text {
    min-width: 850px; }
    @media (max-width: 991px) {
      .main-title__text {
        min-width: unset;
        font-size: 55px; } }
    @media (max-width: 767px) {
      .main-title__text {
        font-size: 39px; } }
  .main-title__btn {
    background: #ffffff;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
    border-radius: 24px;
    color: #333;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 295px;
    padding: 14px 0;
    margin: 40px auto 0; }
    .main-title__btn:hover, .main-title__btn:focus {
      text-decoration: none;
      color: #333; }
    @media (max-width: 576px) {
      .main-title__btn {
        font-size: 20px;
        max-width: 200px;
        margin: 35px auto 0; } }

.main-icon {
  margin: auto auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/*products*/
.products {
  background: #ffffff;
  padding: 75px 0; }
  @media (max-width: 991px) {
    .products {
      padding: 35px 0; } }

.products.products--unpadding {
  padding: 0; }
  .products.products--unpadding .product-cards {
    margin-top: 65px; }

.product-title__excerpt {
  color: #333;
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  line-height: 1;
  margin-top: 15px; }
  @media (max-width: 576px) {
    .product-title__excerpt {
      font-size: 20px; } }

.product-cards {
  margin-top: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 991px) {
    .product-cards {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 35px; } }
  .product-cards .card {
    width: 370px; }
    .product-cards .card:nth-child(n+4) {
      margin-top: 60px; }
      @media (max-width: 991px) {
        .product-cards .card:nth-child(n+4) {
          margin-top: 0; } }
    @media (max-width: 1199px) {
      .product-cards .card {
        width: 290px; } }
    @media (max-width: 991px) {
      .product-cards .card {
        margin-bottom: 50px;
        width: 370px; }
        .product-cards .card:last-child {
          margin-bottom: 0; } }
    @media (max-width: 576px) {
      .product-cards .card {
        width: 100%; } }

/*products*/
/*dispensaries, featured*/
.dispensaries, .featured {
  background: #EEEEEE;
  padding: 75px 0;
  border-bottom: 1px solid #C2C2C2; }
  @media (max-width: 991px) {
    .dispensaries, .featured {
      padding: 35px 0; } }
  .dispensaries:before, .featured:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background: url("../img/Rectangle-dispensaries.png") no-repeat center/100%;
    width: 135px;
    height: 135px;
    z-index: 1; }
    @media (max-width: 991px) {
      .dispensaries:before, .featured:before {
        width: 75px;
        height: 75px; } }
    @media (max-width: 576px) {
      .dispensaries:before, .featured:before {
        width: 50px;
        height: 50px; } }

.featured {
  background: #E9E9E9;
  border: none; }
  .featured:before {
    content: '';
    position: absolute;
    right: inherit;
    left: 0;
    top: inherit;
    bottom: 0;
    background: url("../img/Rectangle-brightness.png") no-repeat center/100%;
    width: 135px;
    height: 135px;
    z-index: 1; }
    @media (max-width: 991px) {
      .featured:before {
        width: 75px;
        height: 75px; } }
    @media (max-width: 576px) {
      .featured:before {
        width: 50px;
        height: 50px; } }

.dispensaries-title, .featured-title {
  text-align: center; }
  .dispensaries-title__excerpt, .featured-title__excerpt {
    color: #333;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    line-height: 1;
    margin-top: 15px; }
    @media (max-width: 576px) {
      .dispensaries-title__excerpt, .featured-title__excerpt {
        font-size: 20px; } }

.dispensaries-list, .featured-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 86px; }
  @media (max-width: 991px) {
    .dispensaries-list, .featured-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 35px; } }
  .dispensaries-list__item, .featured-list__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 3);
            flex: 0 0 calc(100% / 3);
    padding: 15px;
    border-radius: 8px; }
    @media (max-width: 1199px) {
      .dispensaries-list__item, .featured-list__item {
        width: 290px; } }
    @media (max-width: 991px) {
      .dispensaries-list__item, .featured-list__item {
        margin-bottom: 50px;
        width: 370px; }
        .dispensaries-list__item:last-child, .featured-list__item:last-child {
          margin-bottom: 0; } }
    @media (max-width: 576px) {
      .dispensaries-list__item, .featured-list__item {
        width: 290px; } }
    .dispensaries-list__item .btn-main, .featured-list__item .btn-main {
      margin: 34px auto 0; }
      @media (max-width: 576px) {
        .dispensaries-list__item .btn-main, .featured-list__item .btn-main {
          margin: 15px auto 0; } }

.dispensaries-in, .featured-in {
  background: #ffffff;
  height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  -webkit-box-shadow: 0 2.5px 5px #D8D8D8;
          box-shadow: 0 2.5px 5px #D8D8D8; }
  @media (max-width: 1199px) {
    .dispensaries-in, .featured-in {
      height: 290px; } }
  @media (max-width: 991px) {
    .dispensaries-in, .featured-in {
      height: 370px; } }
  @media (max-width: 576px) {
    .dispensaries-in, .featured-in {
      height: 290px; } }
  .dispensaries-in img, .featured-in img {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px; }

/*dispansaries, featured*/
/*medical*/
.medical {
  background: -webkit-linear-gradient(301.43deg, #2DCB71 0%, #004FDE 100%);
  background: -o-linear-gradient(301.43deg, #2DCB71 0%, #004FDE 100%);
  background: linear-gradient(148.57deg, #2DCB71 0%, #004FDE 100%);
  padding: 160px 0; }
  @media (max-width: 991px) {
    .medical {
      padding: 70px 0 35px; } }
  @media (max-width: 576px) {
    .medical {
      padding: 35px 0; } }

.container--medical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse; }

.medical-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  @media (max-width: 991px) {
    .medical-left {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      margin-top: 78px; } }
  @media (max-width: 576px) {
    .medical-left {
      margin-top: 35px; } }
  .medical-left__text {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin: 30px 0 50px; }
    @media (max-width: 576px) {
      .medical-left__text {
        font-size: 20px;
        margin: 30px 0; } }
  @media (max-width: 991px) {
    .medical-left__btn {
      margin-left: auto;
      margin-right: auto; } }

.medical-right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right; }
  @media (max-width: 991px) {
    .medical-right {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      text-align: center; } }
  .medical-right__image {
    display: inline-block;
    position: relative;
    border-radius: 8px; }
    .medical-right__image:before {
      content: '';
      position: absolute;
      left: -28px;
      top: 28px;
      background-color: #F1B505;
      width: 100%;
      height: 100%;
      z-index: 0;
      border-radius: 8px; }
      @media (max-width: 767px) {
        .medical-right__image:before {
          left: -10px;
          top: 10px; } }
      @media (max-width: 767px) {
        .medical-right__image:before {
          left: -5px;
          top: 5px; } }
    .medical-right__image img {
      position: relative;
      border-radius: 8px; }
      @media (max-width: 767px) {
        .medical-right__image img {
          width: 100%; } }

/*medical*/
/*footer*/
.footer-top {
  border-bottom: 1px solid #E9E9E9;
  padding-top: 75px; }
  @media (max-width: 767px) {
    .footer-top {
      padding-top: 35px; } }

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 111px;
  color: rgba(51, 51, 51, 0.501557);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300; }
  @media (max-width: 767px) {
    .footer-bottom {
      height: auto; } }
  @media (max-width: 576px) {
    .footer-bottom {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 15px 0; } }
  .footer-bottom .copyright, .footer-bottom .copyright-author {
    line-height: 1; }
    @media (max-width: 576px) {
      .footer-bottom .copyright, .footer-bottom .copyright-author {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        text-align: center; } }
  @media (max-width: 576px) {
    .footer-bottom .copyright-author {
      margin-top: 5px; } }

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px; }
  @media (max-width: 767px) {
    .footer-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding-bottom: 35px; } }
  .footer-list__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 370px;
            flex: 0 0 370px;
    max-width: 370px;
    line-height: 1; }
    @media (max-width: 1199px) {
      .footer-list__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 33.3333%;
                flex: 0 0 33.3333%;
        max-width: 33.3333%; } }
    @media (max-width: 767px) {
      .footer-list__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        text-align: center; } }
    .footer-list__item:first-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }

.footer-logo {
  margin-bottom: 25px; }
  .footer-logo__link {
    color: #333;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 40px;
    display: inline-block;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase; }
    .footer-logo__link:hover {
      color: #333; }

.footer-title {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 1px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 25px; }
  @media (max-width: 767px) {
    .footer-title {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: auto;
      margin-top: 30px; } }

.footer-address {
  color: rgba(51, 51, 51, 0.501557);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  line-height: 1.2; }
  .footer-address__shell {
    max-width: 200px; }
    @media (max-width: 767px) {
      .footer-address__shell {
        margin: 0 auto; } }

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: auto; }
  @media (max-width: 767px) {
    .footer-social {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 25px; } }
  .footer-social__link {
    margin-right: 10px; }
    .footer-social__link:hover {
      opacity: 0.6; }
    .footer-social__link:last-child {
      margin-right: 0; }

.footer-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .footer-menu__item {
    line-height: 1;
    margin-bottom: 10px;
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
    .footer-menu__item:nth-last-child(2) {
      margin-bottom: 0; }
    .footer-menu__item:last-child {
      margin-bottom: 0; }
  .footer-menu__link {
    color: #333;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300; }
    .footer-menu__link:hover {
      color: #333;
      text-decoration: underline; }

.subscribe-form {
  width: 100%; }
  @media (max-width: 576px) {
    .subscribe-form {
      max-width: 320px;
      margin: auto; } }
  .subscribe-form__text {
    color: rgba(51, 51, 51, 0.501557);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 10px; }
  .subscribe-form__input {
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    color: rgba(51, 51, 51, 0.501557);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    width: 100%;
    height: 48px;
    margin-bottom: 15px;
    padding: 15px; }
  .subscribe-form__btn {
    width: 100%;
    max-width: 100%;
    height: 48px; }
  .subscribe-form ::-webkit-input-placeholder {
    color: rgba(51, 51, 51, 0.501557);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300; }
  .subscribe-form ::-moz-placeholder {
    color: rgba(51, 51, 51, 0.501557);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300; }
  .subscribe-form :-ms-input-placeholder {
    color: rgba(51, 51, 51, 0.501557);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300; }
  .subscribe-form :-moz-placeholder {
    color: rgba(51, 51, 51, 0.501557);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300; }

/*footer*/
.headline {
  background: #2DCC70;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: Josefin Sans;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px; }
  .headline .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .headline .text {
    padding-left: 24px;
    padding-top: 2px; }

.main-block-other-page {
  padding: 80px 0 27px;
  border-bottom: 1px solid #DADADA; }

.main-block-other-page__search {
  max-width: 346px;
  margin: 36px auto 0;
  position: relative; }
  .main-block-other-page__search .form-control, .main-block-other-page__search input {
    height: 46px; }
  .main-block-other-page__search:after {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    right: 8px;
    width: 24px;
    height: 24px;
    background: url("../../img/search.svg") 50%/90% no-repeat;
    z-index: 10; }

.search-icon {
  position: relative; }
  .search-icon:after {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    right: 8px;
    width: 24px;
    height: 24px;
    background: url("../../img/search.svg") 50%/90% no-repeat; }

.brands-page .dispensaries-list {
  margin-top: 20px; }

.brands-page .dispensaries-in {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #333333; }

.main-block-other-page .product__container_search {
  padding-top: 40px; }

.bestforyou {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  height: 96px;
  background: -webkit-linear-gradient(285.77deg, #2DCB71 0%, #205072 100%);
  background: -o-linear-gradient(285.77deg, #2DCB71 0%, #205072 100%);
  background: linear-gradient(164.23deg, #2DCB71 0%, #205072 100%);
  border-radius: 5px;
  padding-left: 37px; }
  .bestforyou .btn-action {
    font-size: 22px; }

.bestforyou span {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 35px;
  color: #fff;
  margin-left: 33px; }

.modal-footer {
  border-top: none; }

.section--background {
  background: -webkit-linear-gradient(274.84deg, #2DCB71 0%, #205072 100%);
  background: -o-linear-gradient(274.84deg, #2DCB71 0%, #205072 100%);
  background: linear-gradient(175.16deg, #2DCB71 0%, #205072 100%); }
  .section--background .location {
    background: #2DCC70; }

.location {
  position: absolute;
  top: 111px;
  left: 0;
  width: 100%;
  z-index: 1; }
  @media (max-width: 991px) {
    .location {
      top: 83.25px; } }
  .location .container--location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0; }

.location-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px; }
  @media (max-width: 991px) {
    .location-data {
      height: 34px; } }
  .location-data__icon {
    margin-right: 23.5px; }
    @media (max-width: 576px) {
      .location-data__icon {
        margin-right: 10px; } }
  .location-data__text {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 14px; }

.profile {
  padding: 95px 0 0; }
  @media (max-width: 767px) {
    .profile {
      padding-top: 69px; } }
  .profile .container--profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .profile .profile-left, .profile .profile-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
    @media (max-width: 767px) {
      .profile .profile-left, .profile .profile-right {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%; } }
  .profile .profile-left {
    padding-right: 65px; }
    @media (max-width: 991px) {
      .profile .profile-left {
        padding-right: 15px; } }
    @media (max-width: 767px) {
      .profile .profile-left {
        padding-right: 0; } }
    .profile .profile-left .avatar {
      width: 300px;
      height: 300px;
      margin-left: auto; }
      @media (max-width: 991px) {
        .profile .profile-left .avatar {
          width: 100%; } }
      @media (max-width: 767px) {
        .profile .profile-left .avatar {
          width: 300px;
          margin: auto; } }
      @media (max-width: 576px) {
        .profile .profile-left .avatar {
          width: 100%;
          max-width: 300px; } }
      .profile .profile-left .avatar img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
  .profile .profile-right {
    padding-left: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (max-width: 991px) {
      .profile .profile-right {
        padding-left: 15px; } }
    @media (max-width: 767px) {
      .profile .profile-right {
        padding-left: 0;
        margin-top: 34px; } }
  .profile .profile-title__text {
    color: #333;
    font-size: 36px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 1; }
  .profile .profile-title__excerpt {
    color: #ff5e62;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    margin-top: 10px; }
  .profile .profile-address {
    margin-top: 50px; }
    @media (max-width: 576px) {
      .profile .profile-address {
        margin-top: 35px; } }
    .profile .profile-address__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 5px; }
      .profile .profile-address__row.icon-top {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
      .profile .profile-address__row:last-child {
        margin-bottom: 0; }
    .profile .profile-address .profile-icon {
      min-width: 30px;
      text-align: center;
      margin-right: 7.5px; }
    .profile .profile-address .profile-text, .profile .profile-address .profile-text a {
      color: #333;
      font-size: 18px;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 400; }
    .profile .profile-address .profile-text {
      max-width: calc(100% - 37.5px); }
    .profile .profile-address .profile-text a:hover {
      color: #333;
      text-decoration: underline; }
  .profile .profile-open {
    color: #2DCB71;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 767px) {
      .profile .profile-open {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .profile .profile-open img {
      margin-left: 15px; }
  .profile .profile-type {
    color: #333;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin-top: auto; }
    @media (max-width: 767px) {
      .profile .profile-type {
        text-align: center;
        margin-top: 15px; } }

.medical-form__background-image {
  padding: 30px 0;
  min-height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-size: cover; }
  .medical-form__background-image .sub-title {
    margin-bottom: 10px; }

.medical-form__black-block {
  background-color: #000;
  padding: 6px 10px; }

.medical-form__certificate {
  background: #2DCC70;
  color: #fff;
  text-align: center;
  padding: 20px 0; }

.medical-form__certificate-content p {
  font-size: 18px; }

.medical-form__certificate-content p:last-child {
  margin-bottom: 0; }

.medical-form__recommend {
  padding: 64px 0; }
  .medical-form__recommend .check-list {
    padding-left: 107px;
    padding-right: 51px; }
    .medical-form__recommend .check-list li {
      position: relative;
      margin-bottom: 42px; }
      .medical-form__recommend .check-list li:before {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        background: #2DCC70;
        position: absolute;
        top: 3px;
        left: -108px; }
      .medical-form__recommend .check-list li:after {
        content: "";
        display: block;
        position: absolute;
        top: 17px;
        left: -97px;
        background: url("../../img/check.svg");
        width: 28px;
        height: 21px; }
  .medical-form__recommend .block-quote {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1080px;
    margin: auto;
    text-align: center; }
    .medical-form__recommend .block-quote:before {
      content: "\201D";
      color: #2DCC70;
      font-size: 68px;
      font-weight: 400;
      line-height: 24px;
      position: absolute;
      left: 0;
      top: 7px; }
    .medical-form__recommend .block-quote:after {
      content: "\201E";
      color: #2DCC70;
      font-size: 68px;
      font-weight: 400;
      line-height: 24px;
      position: absolute;
      right: 0;
      bottom: 27px; }

.medical-form__features {
  background-color: #fbfbfb;
  padding: 64px 0; }

.medical-form__title-h2 {
  margin-bottom: 40px; }

.medical-form__features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px; }
  .medical-form__features-item .image-icon {
    width: 126px;
    margin-right: 20px; }

.wrap-form-doctor-subscription {
  margin: 34px auto 72px;
  background-color: #fbfbfb;
  width: 66%;
  padding: 64px 109px; }
  .wrap-form-doctor-subscription input {
    background: #eee;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 56px;
    color: #797979;
    font-size: 22px;
    font-weight: 400;
    line-height: 56px;
    width: 100%;
    padding: 0 27px;
    margin-bottom: 37px; }
  .wrap-form-doctor-subscription button {
    background-color: #2DCC70;
    height: 56px;
    width: 238px;
    margin: 38px auto 0;
    display: block;
    border: 0;
    border-radius: 0;
    padding: 0;
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    line-height: 56px;
    text-transform: uppercase; }
    .wrap-form-doctor-subscription button:hover {
      background-color: #24a259; }

.faq-section li {
  cursor: pointer;
  margin-bottom: 37px; }

.faq-section li .title {
  float: left;
  width: calc(100% - 50px);
  padding-left: 59px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.faq-section li:before {
  font-family: fontawesome;
  color: #fff;
  font-size: 26px;
  text-align: center;
  padding-top: 10px;
  line-height: 25px;
  content: "\f067";
  display: block;
  width: 40px;
  height: 40px;
  background: #2DCC70;
  float: left; }

.faq-section li.active:before {
  content: "\f068"; }

.faq-section li .body-faq {
  margin-left: 130px;
  height: 0;
  overflow: hidden;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.faq-section li.active .body-faq {
  height: auto;
  overflow: auto;
  margin-top: 26px;
  margin-bottom: 28px; }

.faq-section li .body-faq p {
  color: #797979;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; }

.medical-index-popup .modal-title {
  text-align: center;
  width: 100%; }

.medical-index-popup .modal-content {
  border: none;
  background-color: #2dcc70;
  color: #fff; }

.medical-index-popup.open {
  display: block;
  background-color: rgba(0, 0, 0, 0.8); }

.medical-index-popup button.close {
  -webkit-transform: translate(-4px, -4px);
      -ms-transform: translate(-4px, -4px);
          transform: translate(-4px, -4px);
  outline: none; }

.medical-index-popup .modal-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0;
  width: 100%; }
  .medical-index-popup .modal-footer .btn {
    width: 100%;
    max-width: 260px;
    background-color: #0f8240;
    color: #fff;
    cursor: pointer; }

.medical-index {
  background: url("../../img/bg_medical_state.jpg");
  padding: 230px 0;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }

.medical-index-bottom {
  padding: 50px 0;
  border-top: 5px solid #2dcc70;
  background-color: #f7f7f7; }

.medical-index-bottom__block-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0; }

.medical-index-bottom__image {
  max-width: 180px;
  width: 100%;
  padding: 10px; }

.medical-index-bottom__content p {
  font-size: 22px;
  text-transform: uppercase; }

.medical-index-bottom__content .btn {
  background-color: #2dcc70;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer; }

@media only screen and (max-width: 768px) {
  .medical-index {
    padding: 100px 0; } }

.legal-adult-age {
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .legal-adult-age.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .legal-adult-age .legal-adult-age-dialog {
    max-width: 768px;
    margin: 30px auto;
    width: 94%; }
  .legal-adult-age .header-area {
    max-width: 220px;
    margin: auto;
    -webkit-transform: translateY(-14px);
        -ms-transform: translateY(-14px);
            transform: translateY(-14px); }
  .legal-adult-age .modal-content {
    background-color: #2dcc70;
    border: none; }
  .legal-adult-age .logo {
    background: #000;
    letter-spacing: 1px;
    font-size: 17px;
    padding: 5px 18px 3px; }
    .legal-adult-age .logo a {
      color: #fff; }
  .legal-adult-age .modal-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 65px 23px 0; }
    @media (max-width: 768px) {
      .legal-adult-age .modal-title {
        padding: 20px 20px 10px; } }
  .legal-adult-age .description {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
    margin: 0 160px 25px; }
    @media (max-width: 768px) {
      .legal-adult-age .description {
        margin: 0 10px 20px; } }
  .legal-adult-age form {
    margin: 0 auto;
    width: 85%; }
  .legal-adult-age .modal-footer {
    padding-bottom: 50px; }
    @media (max-width: 768px) {
      .legal-adult-age .modal-footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .legal-adult-age .modal-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .legal-adult-age .modal-footer_button {
    cursor: pointer;
    background-color: #232323;
    color: #2dcc70;
    height: 55px;
    font-size: 21px;
    font-weight: 400;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    width: 45.5%; }
    @media (max-width: 768px) {
      .legal-adult-age .modal-footer_button {
        width: 100%;
        margin: 6px 0; } }

.modal-alert {
  position: fixed;
  top: 0;
  z-index: 1060;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.8); }
  .modal-alert.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .modal-alert .container-alert {
    text-align: center;
    max-width: 768px;
    margin: auto;
    width: 94%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px 20px; }
  .modal-alert .text {
    font-size: 22px; }

.profile__tab-info, .profile__tab-products, .profile__tab-connadeals, .profile__tab-photos {
  display: none; }
  .profile__tab-info.selected, .profile__tab-products.selected, .profile__tab-connadeals.selected, .profile__tab-photos.selected {
    display: block; }

.profile__tab-connadeals .deal-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 22px;
  color: #59C18B; }
  .profile__tab-connadeals .deal-title .date {
    color: #000;
    font-size: 16px; }

.profile__tab-connadeals .deal-item {
  border-bottom: 2px solid #ededed;
  padding-bottom: 0px;
  margin-bottom: 15px; }

.profile__tab-connadeals .list-view {
  margin-top: 60px; }

.p-tab-info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px; }
  .p-tab-info__row:first-child {
    margin-top: 45px; }
  .p-tab-info__row > span:first-child {
    width: 180px;
    font-weight: 500;
    text-transform: uppercase; }
  .p-tab-info__row:nth-child(3) {
    margin-bottom: 20px; }
  .p-tab-info__row:nth-child(4) {
    margin-bottom: 20px; }
  .p-tab-info__row a {
    color: #59c18b; }
    .p-tab-info__row a:hover {
      color: #235e3f; }

.working-hours-title {
  margin-bottom: 20px;
  text-transform: uppercase; }

.working-hours p {
  margin-bottom: 5px; }

@media (max-width: 768px) {
  .working-hours {
    margin-top: 40px; } }

.profile__tab-info .about-content {
  margin-top: 60px;
  margin-bottom: 60px; }
