.headline {
  background: #2DCC70;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: Josefin Sans;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px; }
  .headline .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .headline .text {
    padding-left: 24px;
    padding-top: 2px; }

.main-block-other-page {
  padding: 80px 0 27px;
  border-bottom: 1px solid #DADADA; }

.main-block-other-page__search {
  max-width: 346px;
  margin: 36px auto 0;
  position: relative; }
  .main-block-other-page__search .form-control, .main-block-other-page__search input {
    height: 46px; }
  .main-block-other-page__search:after {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    right: 8px;
    width: 24px;
    height: 24px;
    background: url("../../img/search.svg") 50%/90% no-repeat;
    z-index: 10; }

.search-icon {
  position: relative; }
  .search-icon:after {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    right: 8px;
    width: 24px;
    height: 24px;
    background: url("../../img/search.svg") 50%/90% no-repeat; }

.brands-page .dispensaries-list {
  margin-top: 20px; }

.brands-page .dispensaries-in {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #333333; }

.main-block-other-page .product__container_search {
  padding-top: 40px; }

.bestforyou {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  height: 96px;
  background: -webkit-linear-gradient(285.77deg, #2DCB71 0%, #205072 100%);
  background: -o-linear-gradient(285.77deg, #2DCB71 0%, #205072 100%);
  background: linear-gradient(164.23deg, #2DCB71 0%, #205072 100%);
  border-radius: 5px;
  padding-left: 37px; }
  .bestforyou .btn-action {
    font-size: 22px; }

.bestforyou span {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 35px;
  color: #fff;
  margin-left: 33px; }

.modal-footer {
  border-top: none; }
