.header-search-block {
    // display: none;
    position: absolute;
    top: -100%;
    width: 100%;
    background-color: #f6f6f6;
    z-index: 10;
    height: 155px;
    transition: .5s;
    opacity: 0;
    &.opened {
        // display: block;
        opacity: 1;
        top: 0;
    }
    .container {
        max-width: 866px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .form-vertical {
        display: flex;
        flex: 0 0 calc(100% - 50px);
    }
    input {
        height: 55px;
        padding: 0 15px;
        border: 0;
        background: #fff;
        color: #797979;
        font-size: 18px;
        border-radius: 0 !important;
        box-shadow: none !important;
    }
    button {
        background: transparent;
        border: 0;
        vertical-align: top;
        position: absolute;
        right: 100px;
        top: 7px;
        height: 55px;
        margin: auto;
        bottom: 0;
        z-index: 99;
    }
    .close-search {
        position: relative;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 17px;
        cursor: pointer;
        display: inline-block;
        width: 20px;
        height: 20px;
        overflow: hidden;
        &:before, &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            top: 50%;
            left: 0;
            margin-top: -1px;
            background: #8d8d8d;
            border-radius: 5px;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
        &:hover:before, &:hover:after{
            background: #78aa27;
        }
    }
    .form-vertical__inner, .twitter-typeahead {
        width: 100%;
    }
}