.medical-index-popup {
    .modal-title {
        text-align: center;
        width: 100%;
    }
    .modal-content {
        border: none;
        background-color: #2dcc70;
        color: #fff;
    }
    &.open {
        display: block;
        background-color: rgba(0,0,0, .8);
    }
    button.close {
        transform: translate(-4px, -4px);
        outline: none;
    }
    .modal-footer {
        justify-content: center;
        padding-top: 0;
        width: 100%;
        .btn {
            width: 100%;
            max-width: 260px;
            background-color: #0f8240;
            color: #fff;
            cursor: pointer;
        }
    }
}
.medical-index {
    background: url('../../img/bg_medical_state.jpg');
    padding: 230px 0;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.medical-index-bottom {
    padding: 50px 0;
    border-top: 5px solid #2dcc70;
    background-color: #f7f7f7;
}
.medical-index-bottom__block-inner {
    display: flex;
    padding: 20px 0;
}
.medical-index-bottom__image {
    max-width: 180px;
    width: 100%;
    padding: 10px;
}
.medical-index-bottom__content {
    p {
        font-size: 22px;
        text-transform: uppercase;
    }
    .btn {
        background-color: #2dcc70;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {
.medical-index {
    padding: 100px 0;
}
}