.medical-form__background-image {
    padding: 30px 0;
    min-height: 360px;
    display: flex;
    align-items: center;
    color: #fff;
    background-size: cover;
    .sub-title {
        margin-bottom: 10px;
    }
}
.medical-form__black-block {
    background-color: #000;
    padding: 6px 10px;
}
.medical-form__certificate {
    background: #2DCC70;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.medical-form__certificate-content {
    p {
        font-size: 18px;
    }
    p:last-child {
        margin-bottom: 0;
    }
}
.medical-form__recommend {
    padding: 64px 0;
    .check-list {
        padding-left: 107px;
        padding-right: 51px;
        li {
            position: relative;
            margin-bottom: 42px;
            &:before {
                content: "";
                display: block;
                width: 50px;
                height: 50px;
                background: #2DCC70;
                position: absolute;
                top: 3px;
                left: -108px;
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 17px;
                left: -97px;
                background: url('../../img/check.svg');
                width: 28px;
                height: 21px;
            }
        }
    }
    .block-quote {
        position: relative;
        padding-left: 50px;
        padding-right: 50px;
        max-width: 1080px;
        margin: auto;
        text-align: center;
        &:before {
            content: "\201D";
            color: #2DCC70;
            font-size: 68px;
            font-weight: 400;
            line-height: 24px;
            position: absolute;
            left: 0;
            top: 7px;
        }
        &:after {
            content: "\201E";
            color: #2DCC70;
            font-size: 68px;
            font-weight: 400;
            line-height: 24px;
            position: absolute;
            right: 0;
            bottom: 27px;
        }
    }
}
.medical-form__features {
    background-color: #fbfbfb;
    padding: 64px 0;
}
.medical-form__title-h2 {
    margin-bottom: 40px;
}
.medical-form__features-item {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    .image-icon {
        width: 126px;
        margin-right: 20px;
    }
}
.wrap-form-doctor-subscription {
    margin: 34px auto 72px;
    background-color: #fbfbfb;
    width: 66%;
    padding: 64px 109px;
    input {
        background: #eee;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        height: 56px;
        color: #797979;
        font-size: 22px;
        font-weight: 400;
        line-height: 56px;
        width: 100%;
        padding: 0 27px;
        margin-bottom: 37px;
    }
    button {
        background-color: #2DCC70;
        height: 56px;
        width: 238px;
        margin: 38px auto 0;
        display: block;
        border: 0;
        border-radius: 0;
        padding: 0;
        color: #fff;
        font-size: 21px;
        font-weight: 400;
        line-height: 56px;
        text-transform: uppercase;
        &:hover {
            background-color: darken(#2DCC70, 10%);
        }
    }
}

.faq-section li {
    cursor: pointer;
    margin-bottom: 37px;
}
.faq-section li .title {
    float: left;
    width: calc(100% - 50px);
    padding-left: 59px;
    // padding-top: 10px;
    // height: 50px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.faq-section li:before {
    font-family: fontawesome;
    color: #fff;
    font-size: 26px;
    text-align: center;
    padding-top: 10px;
    line-height: 25px;
    content: "\f067";
    display: block;
    width: 40px;
    height: 40px;
    background: #2DCC70;
    float: left;
}
.faq-section li.active:before {
    content: "\f068";
}
.faq-section li .body-faq {
    margin-left: 130px;
    height: 0;
    overflow: hidden;
    transition: all .4s ease-in-out;
}
.faq-section li.active .body-faq {
    height: auto;
    overflow: auto;
    margin-top: 26px;
    margin-bottom: 28px;
}
.faq-section li .body-faq p {
    color: #797979;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}