.legal-adult-age {
    text-align: center;
    background: rgba(0,0,0,.8);
    align-items: center;
    &.show {
        display: flex;
    }
    .legal-adult-age-dialog {
        max-width: 768px;
        margin: 30px auto;
        width: 94%;
    }
    .header-area {
        max-width: 220px;
        margin: auto;
        transform: translateY(-14px);
    }
    .modal-content {
        background-color: #2dcc70;
        border: none;
    }
    .logo {
        background: #000;
        letter-spacing: 1px;
        font-size: 17px;
        padding: 5px 18px 3px;
        a {
            color: #fff;
        }
    }
    .modal-title {
        color: #fff;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 65px 23px 0;
        @media(max-width: 768px) {
            padding: 20px 20px 10px;
        }
    }
    .description {
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        color: #000;
        margin: 0 160px 25px;
        @media(max-width: 768px) {
            margin: 0 10px 20px;
        }
    }
    form {
        margin: 0 auto;
        width: 85%;
    }
    .modal-footer {
        padding-bottom: 50px;
        @media(max-width: 768px) {
            flex-direction: column;
        }
    }
    .modal-footer {
        justify-content: center;
    }
    .modal-footer_button {
        cursor: pointer;
        background-color: #232323;
        color: #2dcc70;
        height: 55px;
        font-size: 21px;
        font-weight: 400;
        border: 0;
        border-radius: 0;
        text-transform: uppercase;
        width: 45.5%;
        @media(max-width: 768px) {
            width: 100%;
            margin: 6px 0;
        }
    }
}
.modal-alert {
    position: fixed;
    top: 0;
    z-index: 1060;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    &.show {
        display: flex;
    }
    .container-alert {
        text-align: center;
        max-width: 768px;
        margin: auto;
        // height: 200px;
        width: 94%;
        background-color: rgba(255, 255, 255, .8);
        padding: 50px 20px;
    }
    .text {
        font-size: 22px;
    }
}