.profile__tab-info, .profile__tab-products, .profile__tab-connadeals, .profile__tab-photos {
    display: none;
    &.selected {
        display: block;
    }
}
.profile__tab-connadeals {
    .deal-title {
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        color: #59C18B;
        .date {
            color: #000;
            font-size: 16px;
        }
    }
    .deal-item {
        border-bottom: 2px solid #ededed;
        padding-bottom: 0px;
        margin-bottom: 15px;
    }
    .list-view {
        margin-top: 60px;
    }
}

.p-tab-info__row {
    display: flex;
    margin-bottom: 5px;
    &:first-child {
        margin-top: 45px;
    }
    & > span:first-child {
        width: 180px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &:nth-child(3) {
        margin-bottom: 20px;
    }
    &:nth-child(4) {
        margin-bottom: 20px;
    }
    a {
        color: #59c18b;
        &:hover {
            color: darken(#59c18b, 30%)
        }
    }
}
.working-hours-title {
    margin-bottom: 20px;
    text-transform: uppercase;
}
.working-hours {
    p {
        margin-bottom: 5px;
    }
    @media(max-width: 768px) {
        margin-top: 40px;
    }
}
.profile__tab-info {
    .about-content {
        margin-top: 60px;
        margin-bottom: 60px;
    }
} 