@import 'vars'

.flex-align-center
	display: flex
	align-items: center

.form-control::-webkit-input-placeholder 
    color: rgba(51, 51, 51, 0.5)

.form-control
	padding: .8rem .75rem

select.form-control.select-height
	height: 48px !important

.text-center
	text-align: center
.title
	font-size: 72px
	font-family: 'Kanit', sans-serif
	font-weight: 700
	letter-spacing: 1px
	line-height: 1
	margin-bottom: 0
	&--white
		color: $white
	&--black
		color: $black
		
.sub-title
	font-size: 56px
	font-family: 'Kanit', sans-serif
	font-weight: 700
	letter-spacing: 1px
	line-height: 1
	margin-bottom: 0
	@media (max-width: 767px)
		font-size: 40px
	&--white
		color: $white
	&--black
		color: $black
		
.btn-main
	background: linear-gradient(164.23deg, #2DCB71 0%, #205072 100%)
	-webkit-border-radius: 5px
	-moz-border-radius: 5px
	border-radius: 5px
	display: flex
	align-items: center
	justify-content: center
	font-size: 18px
	font-family: 'Josefin Sans', sans-serif
	font-weight: 400
	color: $white
	max-width: 170px
	padding: 10.5px 10px
	outline: none
	&:hover, &:focus
		background: linear-gradient(135deg, #CA5EFF 0%, #004FDE 100%)
		color: $white
		text-decoration: none
	@media (max-width: 576px)
		max-width: 120px
		font-size: 14px
	&--white
		background: $white
		border: 1px solid lighten($purple, 32)
		color: $purple
		padding-top: 9.5px
		padding-bottom: 9.5px
		&:hover, &:focus
			color: $purple
			background: $white
	&--yellow
		background: $yellow
		color: $white
		&:hover, &:focus
			color: $white
			background: $yellow
			
.btn-action
	background: $white
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414)
	border-radius: 24px
	border: none
	display: flex
	justify-content: center
	align-items: center
	font-size: 14px
	font-family: 'Josefin Sans', sans-serif
	font-weight: 700
	max-width: 146px
	flex-basis: 146px
	padding: 10.5px 10px
	outline: none
	@media (max-width: 1199px)
		max-width: 120px
		flex-basis: 120px
	@media (max-width: 991px)
		max-width: 146px
		flex-basis: 146px
	@media (max-width: 576px)
		max-width: 120px
		flex-basis: 120px
	&--light
		color: $btn-light
		&:hover, &:focus
			color: $btn-light
	&--dark
		color: $btn-dark
		&:hover, &:focus
			color: $btn-dark
	&:hover, &:focus
		text-decoration: none
		
		
.circle
	width: 48px
	height: 48px
	border: 1px solid rgba(255, 255, 255, 0.3003)
	-webkit-border-radius: 50%
	-moz-border-radius: 50%
	border-radius: 50%

.browse
	display: flex
	align-items: center
	justify-content: center
	
.browse-all
	display: flex
	align-items: center
	justify-content: center
	margin-top: 79px
	margin-bottom: 0
	@media (max-width: 991px)
		margin-top: 35px
	&__text
		color: $black
		display: inline-block
		font-family: 'Josefin Sans', sans-serif
		font-weight: 300
		font-size: 20px
		margin-right: 15px
	&__icon
		border: 1px solid rgba(51, 51, 51, 0.297271)
		display: flex
		align-items: center
		justify-content: center
		width: 48px
		height: 48px
		-webkit-border-radius: 50%
		-moz-border-radius: 50%
		border-radius: 50%
	&:hover
		.browse-all__text
			text-decoration: underline

.card
	border: none
	border-radius: 8px
	font-family: 'Josefin Sans Bold', sans-serif
	padding: 32px
	@media (max-width: 1199px)
		padding: 15px
	@media (max-width: 991px)
		padding: 32px
	@media (max-width: 576px)
		padding: 15px 20px
	&--aqua
		background: linear-gradient(180deg, #00CDAC 0%, #02AAB0 100%)
		.lists
			background: linear-gradient(180deg, #00CDAC 0%, #02AAB0 100%)
		.card-descriptions-wrapper
			background: linear-gradient(180deg, #02AAB0 0%, #02AAB0 100%)
	&--orange
		background: linear-gradient(180deg, #FF9966 0%, #FF5E62 100%)
		.lists
			background: linear-gradient(180deg, #FF9966 0%, #FF5E62 100%)
		.card-descriptions-wrapper
			background: linear-gradient(180deg, #FF5E62 0%, #FF5E62 100%)
	&--purple
		background: linear-gradient(180deg, #6F86D6 0%, #48C6EF 100%)
		.lists
			background: linear-gradient(180deg, #6F86D6 0%, #48C6EF 100%)
		.card-descriptions-wrapper
			background: linear-gradient(180deg, #48C6EF 0%, #48C6EF 100%)
	&--tinture
		background: linear-gradient(180deg, #42275A 0%, #734B6D 100%)
		.lists
			background: linear-gradient(180deg, #42275A 0%, #734B6D 100%)
		.card-descriptions-wrapper
			background: linear-gradient(180deg, #734B6D 0%, #734B6D 100%)
	&--preroll
		background: linear-gradient(180deg, #80D0C7 0%, #13547A 100%)
		.lists
			background: linear-gradient(180deg, #80D0C7 0%, #13547A 100%)
		.card-descriptions-wrapper
			background: linear-gradient(180deg, #13547A 0%, #13547A 100%)
	&--concentrate
		background: linear-gradient(180deg, #4568DC 0%, #B06AB3 100%)
		.lists
			background: linear-gradient(180deg, #4568DC 0%, #B06AB3 100%)
		.card-descriptions-wrapper
			background: linear-gradient(180deg, #B06AB3 0%, #B06AB3 100%)
	&--drink
		background: linear-gradient(180deg, #000428 0%, #004E92 100%)
		.lists
			background: linear-gradient(180deg, #000428 0%, #004E92 100%)
		.card-descriptions-wrapper
			background: linear-gradient(180deg, #004E92 0%, #004E92 100%)
	&--patch
		background: linear-gradient(180deg, #CC2B5E 0%, #753A88 100%)
		.lists
			background: linear-gradient(180deg, #CC2B5E 0%, #753A88 100%)
		.card-descriptions-wrapper
			background: linear-gradient(180deg, #753A88 0%, #753A88 100%)
	&--topical
		background: linear-gradient(180deg, #2B5876 0%, #4E4376 100%)
		.lists
			background: linear-gradient(180deg, #2B5876 0%, #4E4376 100%)
		.card-descriptions-wrapper
			background: linear-gradient(180deg, #4E4376 0%, #4E4376 100%)
	.card-title
		color: $white
		font-family: 'Kanit', sans-serif
		font-weight: 700
		font-size: 24px
		line-height: 1
	.card-by
		color: $white
		font-family: 'Josefin Sans', sans-serif
		font-weight: 400
		font-size: 20px
		line-height: 24px
		a
			color: #ffffff
			&:hover
				text-decoration: underline
	.card-compose
		color: $white
		margin-top: 30px
	.card-compose-in
		display: flex
		justify-content: space-between
		align-items: center
		&__left, &__right
			font-family: 'Josefin Sans', sans-serif
			font-weight: 700
			display: inline-block
		&__left
			display: flex
			& > *
				margin-right: 10px
		&__right
			display: flex
			justify-content: center
			width: 76px
			position: relative
			min-height: 24px
			img
				position: absolute
				bottom: 6px
	.card-select-wrapper
		padding: 0 30px 10px
		position: relative
		margin-top: 40px
		// margin-bottom: 15px
		@media (max-width: 1199px)
			padding-left: 0
			padding-right: 0
		@media (max-width: 991px)
			padding: 0 30px 10px
		@media (max-width: 576px)
			padding-left: 0
			padding-right: 0
		&:after
			content: ''
			position: absolute
			left: 50%
			bottom: 0
			transform: translateX(-50%)
			width: 228px
			height: 1px
			background: $white
			@media (max-width: 1199px)
				width: 100%
			@media (max-width: 991px)
				width: 228px
			@media (max-width: 576px)
				width: 100%
	.card-select
		width: 100%
		option
			display: none
	.lists
		// background: linear-gradient(180deg, #06BEB6 0%, #48B1BF 100%)
		-webkit-border-radius: 5px
		-moz-border-radius: 5px
		border-radius: 5px
		opacity: 0
		// transition: all 0.3s ease-in-out
		position: absolute
		left: 0
		top: 0
		//padding: 32px
		padding: 32px 16px
		width: 100%
		pointer-events: none
		z-index: 1
		@media (max-width: 1199px)
			width: 107%
		@media (max-width: 991px)
			background: transparent
			width: 100%
			position: static
			height: 0
			padding: 0
		&--show
			border-left: 1px solid $white
			left: 100%
			opacity: 1
			pointer-events: auto
			border-top-left-radius: 0
			border-bottom-left-radius: 0
			height: auto
			@media (max-width: 991px)
				border: none
				padding-top: 40px
	.lists-title
		background: $white
		border-top-right-radius: 5px
		border-top-left-radius: 5px
		font-size: 14px
		font-weight: 700
		font-family: 'Josefin Sans', sans-serif
		text-align: center
		padding: 16px 16px 0
		margin-top: 15px
		@media (max-width: 991px)
			margin-top: 40px
	.effects
		&__row
			display: flex
			align-items: center
			margin-bottom: 20px
			&:last-child
				margin-bottom: 0
		&__type
			background: $white
			border: 1px solid #DADADA
			border-radius: 5px
			color: $black
			font-size: 14px
			font-family: 'Josefin Sans', sans-serif
			font-weight: 700
			height: 34px
			margin-right: 10px
			padding: 8px 12px
		&__text
			color: $white
			font-size: 14px
			font-family: 'Josefin Sans', sans-serif
			font-weight: 400
			line-height: 1

	.info-list
		background: $white
		border-bottom-right-radius: 5px
		border-bottom-left-radius: 5px
		padding: 15px
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		font-size: 14px
		font-family: 'Josefin Sans', sans-serif
		@media (max-width: 1199px)
			font-size: 11px
		@media (max-width: 991px)
			font-size: 13px
		&__item
			display: flex
			justify-content: space-between
			align-items: center
			flex: 0 0 100%
			max-width: 100%
			.inform
				display: flex
				justify-content: space-between
				align-items: center
				@media (max-width: 576px)
					margin: auto
		.inform-value
			margin-left: 5px
		&--can
			.info-list__item
				flex: 0 0 33%
				max-width: 33%
				@media (max-width: 576px)
					flex: 0 0 50%
					max-width: 50%
					&:nth-child(odd)
						.inform
							margin-left: 0
		&.terpen-list
			.info-list__item
				flex: 0 0 50%
				max-width: 50%
				@media (max-width: 576px)
					flex: 0 0 100%
					max-width: 100%
	.card-descriptions-wrapper
		// background: linear-gradient(0deg, #06BEB6 0%, #48B1BF 100%)
		-webkit-border-radius: 5px
		-moz-border-radius: 5px
		border-radius: 5px
		opacity: 0
		// transition: all 0.3s ease-in-out
		position: absolute
		left: 0
		top: 0
		padding: 32px
		pointer-events: none
		z-index: 1
		width: 100%
		@media (max-width: 1199px)
			padding: 16px
		@media (max-width: 991px)
			position: static
			height: 0
			padding: 0
		&--show
			padding-top: 0
			top: 100%
			opacity: 1
			pointer-events: auto
			border-top-left-radius: 0
			border-top-right-radius: 0
			height: auto
			@media (max-width: 991px)
				.card-descriptions
					margin-top: 40px
	.card-descriptions
		background: $white
		-webkit-border-radius: 5px
		-moz-border-radius: 5px
		border-radius: 5px
		height: 100%
		&__title
			font-weight: 700
			text-align: center
			padding-top: 15px
		&__text
			font-weight: 400
			padding: 15px
			// max-height: 80px
			overflow: hidden
		&__text, &__title
			font-size: 14px
			font-family: 'Josefin Sans', sans-serif
		&__more
			display: none
			font-size: 14px
			font-family: 'Josefin Sans', sans-serif
			text-align: right
			padding-right: 16px
			padding-bottom: 5px
			&.show
				display: block

	.card-actions
		display: flex
		justify-content: space-between
		margin-top: 20px

.card.open
	z-index: 2
	border-top-right-radius: 0
	border-bottom-right-radius: 0
	border-bottom-left-radius: 0
	// background: linear-gradient(180deg, #06BEB6 0%, #48B1BF 100%)
	@media (max-width: 991px)
		-webkit-border-radius: 5px
		-moz-border-radius: 5px
		border-radius: 5px
.card.last-in-row.open
	border-radius: 0 5px 0 0
	@media (max-width: 991px)
		-webkit-border-radius: 5px
		-moz-border-radius: 5px
		border-radius: 5px
.card.last-in-row
	.lists--show
		left: -100%
		border-radius: 5px 0 0 5px
		border-left: none
		border-right: 1px solid $white
		@media (max-width: 1199px)
			left: -107%
		@media (max-width: 991px)
			position: static
			border: none
/*custom select*/
.select-info
	display: flex
	align-items: center
	&__cost
		color: #000
		font-family: 'Josefin Sans', sans-serif
		font-weight: 700
		font-size: 20px
		display: inline-block
		margin-right: 22px
	&__value
		color: #000
		font-family: 'Josefin Sans', sans-serif
		font-weight: 400
		font-size: 14px

.select2-results__options
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414)
.select2-container--default .select2-selection--single
	border-radius: 5px !important
	border: none !important
.select2-results__option
	height: 48px
	.select-info
		transform: translateY(4px)
.select2-container .select2-selection--single
	height: 48px !important
.select2-container--default .select2-selection--single .select2-selection__rendered
	padding-top: 10px
	padding-left: 15px
	& > .select-info .select-info__value
		transform: translateY(1.5px)
.select2-container--default .select2-selection--single .select2-selection__arrow
	top: 50% !important
	right: 10px !important
	transform: translateY(-50%)
	b
		border-color: #000 transparent transparent transparent !important
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
	border-color: transparent transparent #000 transparent !important
.select2-dropdown
	border-radius: 5px !important
	border: none !important
.select2-container--default .select2-results>.select2-results__options
	border-radius: 5px !important
.select2-results__option
	border-radius: 5px
	padding-left: 15px !important

.main-block__links
	background: #59C18B
	margin: 60px 0 40px

.main-block__links-nav
	display: flex
	justify-content: center
	align-items: center

.main-block__links-item
	font-family: Josefin Sans
	font-weight: bold
	font-size: 20px
	line-height: 24px
	padding: 25px
	color: #ffffff
	&.is-active, &:hover, &:focus
		color: #000
		text-decoration: none
	@media(max-width: 768px) 
		padding: 20px 15px
		font-size: 18px
		line-height: 20px
	@media(max-width: 560px) 
		padding: 18px 9px
		font-size: 16px
		line-height: 16px

.profile-open
	position: relative
.profile-date-popup
	display: none
	position: absolute
	top: 25px
	left: 0
	padding: 15px
	box-shadow: 0 0 5px 0 lightgrey
	border-radius: 4px
	z-index: 1
	background-color: #fff
	width: 240px
	&.is-open
		display: block

.profile-date__title
	font-size: 20px
	display: block
	margin-bottom: 6px

.profile-date__list-item
	display: flex
	justify-content: space-between
	&.is-active
		.profile-date__day, .profile-date__time
			font-weight: bold

.profile-date__day, .profile-date__time
	flex-basis: 49%
	color: #2DCB71
    font-size: 16px
    font-family: 'Josefin Sans', sans-serif
    font-weight: 400

.close
  position: absolute
  right: 6px
  top: 6px
  width: 16px
  height: 16px
  opacity: 0.3

.close:hover 
  opacity: 1

.close:before, .close:after 
  position: absolute
  left: 50%
  content: ' '
  height: 16px
  width: 2px
  background-color: #333

.close:before 
  transform: rotate(45deg)

.close:after 
  transform: rotate(-45deg)
