/* default styles for all pages */

@import 'vars'
@import 'mixins'
@import 'fonts'
@import 'common'

*
  box-sizing: border-box
  &:hover, &:active, &:focus
      outline: none

html
  font-family: Helvetica, Arial, sans-serif
  font-size: 16px
  height: 100%
  
body
  margin: 0
  padding: 0
  height: 100%
  &.ov-hidden
    overflow: hidden

ul
  padding: 0
  margin: 0
  list-style: none

/* select
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none */

/* select::-ms-expand
  display: none */

a
  text-decoration: none
  transition: all 0.3s linear
  &:hover
    text-decoration: none
    
[role=button], a, area, button, input, label, select, summary, textarea
  touch-action: none
  -ms-touch-action: none

section
  position: relative

.header__buttons-icons
  display: flex
  .user
    margin-left: 46px
    &:first-child
      margin-left: 0

.show-mobile
  display: none

.btn-add-to-cart-icon
  background-color: transparent
  box-shadow: none
  width: auto
  flex-basis: auto

@media (max-width: 768px)
  .select-info 
    margin-right: 6px
  .select-info__value
    transform: translateY(0) !important
  .select-info__cost
    font-size: 14px
    margin-right: 7px
  .card .card-actions
    margin-left: -10px
    margin-right: -10px
    align-items: center
  .card .card-compose
    margin-top: -5px
  .card .card-compose-in__right img
    width: 60px
  .hide-mobile
    display: none

  .show-mobile
    display: block

  .header__buttons-icons
    .user
      margin-left: 10px

@import 'header'
@import 'home-page'
@import 'other-page'
@import 'askmary'
@import 'profile'
@import 'medical-form'
@import 'medical-index'
@import 'modal-legal-adult-age'
@import 'profile2'