.headline
    background: #2DCC70
    height: 44px
    display: flex
    align-items: center
    color: #fff
    font-family: Josefin Sans
    font-weight: bold
    font-size: 20px
    line-height: 24px
    .container
        display: flex
    .text
        padding-left: 24px
        padding-top: 2px

.main-block-other-page 
    padding: 80px 0 27px
    border-bottom: 1px solid #DADADA

.main-block-other-page__search
    max-width: 346px
    margin: 36px auto 0
    position: relative
    .form-control, input
        height: 46px
    &:after
        content: ''
        display: block
        position: absolute
        top: 12px
        right: 8px
        width: 24px
        height: 24px
        background: url('../../img/search.svg') 50%/90% no-repeat
        z-index: 10

.search-icon
    position: relative
    &:after
        content: ''
        display: block
        position: absolute
        top: 12px
        right: 8px
        width: 24px
        height: 24px
        background: url('../../img/search.svg') 50%/90% no-repeat

.brands-page
    .dispensaries-list
        margin-top: 20px
    .dispensaries-in
        box-shadow: none
        border: 1px solid #333333

.main-block-other-page
    .product__container_search
        padding-top: 40px

.bestforyou
    display: flex
    align-items: center
    font-family: 'Josefin Sans', sans-serif
    height: 96px
    background: linear-gradient(164.23deg, #2DCB71 0%, #205072 100%)
    border-radius: 5px
    padding-left: 37px
    .btn-action
        font-size: 22px

// .bestforyou button 
// 	font-family: 'Josefin Sans', sans-serif
// 	background: #fff
// 	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.0992414)
// 	border-radius: 24px
// 	border-color: none
// 	padding: 13px 55px 10px 55px
// 	width: 211px
// 	height: 48px
// 	font-weight: bold
// 	font-size: 1.5rem

.bestforyou span 
    font-family: 'Kanit', sans-serif
    font-weight: 700
    font-style: normal
    font-size: 1.25rem
    line-height: 35px
    color: #fff
    margin-left: 33px

.modal-footer
    border-top: none